.content {
  max-width: 1280px;
  margin: 0 auto;
}
.logo {
  width: 134px;
  height: 40px;
  background: url('../image/logo-text.svg') center center no-repeat;
}
.head.fixed-back {
  .logo {
    background-image: url('../image/logo-text.svg') !important;
  }
  color: #524E4B !important;
  background-color: white !important;
}
.side-screen {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  .close {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url('../image/close.svg') right center no-repeat;
    background-size: 22px 22px;
  }
  .logo-text {
    width: 88px;
    height: 28px;
    position: absolute;
    top: 18px;
    left: 20px;
    background: url('../image/logo-text.svg') 0 0 no-repeat;
    background-size: 88px 28px;
  }
  .side-nav {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 104px;
    text-align: center;
    color: black;
    li {
      margin-bottom: 36px;
    }
  }
}


.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    margin-left: 35px;
    font-size: 14px;
    line-height: 17px;
  }
}

.side-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding-right: 20px;
  background: url('../image/menu.svg') right 20px center no-repeat;
  background-size: 26px 20px;
  background-color: rgba(255, 255, 255, 0);
}

.side-bar.scroll {
  background-color: white;
}
.up {
  width: 48px;
  height: 48px;
  background: url('../image/up-icon.svg') 0 0 no-repeat;
  background-size: 100% 100%;
  position: fixed;
  right: 80px;
  bottom: 80px;
  cursor: pointer;
  display: none;
}

.footer {
  min-height: 116px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  background-color: #172026 !important;
  position: relative;
  .column {
    justify-content: space-between;
    max-width: 1280px;
  }
  .footer-nav {
    display: flex;
    white-space: pre;
  }
  .left {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-left: 200px;
    height: auto !important;
    background: url('../image/logo-text-white.svg') 0 0 no-repeat;
    a {
      padding-right: 17px;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      margin-right: 17px;;
      line-height: 14px;
    }
    a:last-child {
      border-right: none;
    }
    .row:first-child {
      margin-bottom: 16px;
    }
    .row:last-child {
      font-size: 12px;
      line-height: 15px;
      text-align: left;
      a:first-child {
        color: #1B96F1
      }
      a:last-child {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      margin-left: 30px;
    }
  }
}

.side-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

@media only screen and (max-width: 480px) {
  .head .logo {
    width: 88px;
    height: 28px;
    background-size: 88px 28px;
  }
  .side-bar {
    display: block;
  }
  .nav {
    display: none !important;
  }
  .footer {
    padding: 0 !important;
    .footer-nav {
      display: none !important;
    }
    .content {
      padding: 0 !important;
    }
    .left {
      background-image: none;
      text-align: center;
      padding-left: 0;
      width: 100% !important;
    }
    .row {
      width: 100% !important;
    }
    a {
      display: block !important;
      text-align: center !important;
      margin-top: 40px !important;
    }
    .social {
      display: none;
    }
  }
}