.section-main.effect {
  .m-1.hidden, .m-2.hidden {
    transform: translateY(620px);
    opacity: 0;
  }
  .m-3.hidden, .m-4.hidden {
    transform: translateY(100px);
    opacity: 0;
  }

  .m-1.action, .m-2.action, .m-3.action, .m-4.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 0.8s;
  }
  .m-2.action {
    transition-duration: 0.6s;
    transition-delay: 0.6s;
  }
  .m-3.action {
    transition-duration: 0.2s;
    transition-delay: 1.4s;
  }
  .m-4.action {
    transition-duration: 0.2s;
    transition-delay: 1.8s;
  }
}

.features-section.effect {
  .li-1.hidden, .li-2.hidden, .li-3.hidden {
    transform: translateY(300px);
    opacity: 0;
  }
  
  .li-1.action, .li-2.action, .li-3.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 0.4s;
  }
  .li-2.action {
    transition-delay: 0.4s;
  }
  .li-3.action {
    transition-delay: 0.8s;
  }
}

.section-product.effect {
  .content.hidden, .m-1.hidden, .m-2.hidden, .m-3.hidden {
    opacity: 0;
  }
  .content.hidden {
    transform: translateY(580px);
  }
  .m-1.hidden {
    transform: translateY(100px);
  }
  .m-2.hidden {
    transform: translateY(40px);
  }
  .m-3.hidden {
    transform: translateY(180px);
  }

  .content.action, .m-1.action, .m-2.action, .m-3.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 0.6s;
  }
  .m-1.action {
    transition-duration: 300ms;
    transition-delay: 0.6s;
  }
  .m-2.action {
    transition-duration: 100ms;
    transition-delay: 0.9s;

  }
  .m-3.action {
    transition-duration: 300ms;
    transition-delay: 1s;

  }
}

.section-why.effect {
  .m-1.hidden, .m-3.hidden {
    transform: translateY(240px);
    opacity: 0;
  }
  .m-2.hidden, .m-4.hidden {
    transform: translateY(480px);
    opacity: 0;
  }

  .m-1.action, .m-2.action, .m-3.action, .m-4.action{
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 0.6s;
  }
  .m-2.action {
    transition-delay: 0.2s;
  }
  .m-3.action {
    transition-delay: 0.4s;
  }
  .m-4.action {
    transition-delay: 0.6s;
  }
}

.token-section.effect {
  .m-1.hidden {
    transform: translateY(400px);
    opacity: 0;

  }
  .m-2.hidden, .m-3.hidden, .m-4.hidden, .m-5.hidden, .m-6.hidden {
    transform: translateY(200px);
    opacity: 0;
  }

  .m-1.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 0.6s;

  }
  .m-2.action, .m-3.action, .m-4.action, .m-5.action, .m-6.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
  }
  .m-2.action {
    transition-delay: 0.8s;
  }
  .m-3.action {
    transition-delay: 1s;
  }
  .m-4.action {
    transition-delay: 1.2s;
  }
  .m-5.action {
    transition-delay: 1.4s;
  }
  .m-6.action {
    transition-delay: 1.6s;
  }
}

.ecosystem-section.effect {
  .section-ecosystem.hidden {
    transform: translateY(120px);
    opacity: 0;
  }
  h2.hidden {
    transform: translateY(-30px);
    opacity: 0;
  }
  .ecosystem.hidden {
    transform: translateY(30px);
    opacity: 0;
  }

  .section-ecosystem.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 400ms;
  }
  h2.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-delay: 200ms;
  }
  .ecosystem.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 100ms;
    transition-delay: 440ms;
  }
}

.section-roadmap.effect {
  ul.hidden {
    transform: translateX(100px);
    opacity: 0;
  }
  h2.hidden, dl.hidden {
    transform: translateY(120px);
    opacity: 0;
  }

  h2.action, ul.action, dl.action {
    transition-timing-function: linear;
    transition-property: opacity, transform;
    transition-duration: 300ms;
  }
  ul.action {
    transition-delay: 800ms;
  }
  dl.action:nth-child(1) {
    transition-delay: 100ms;
  }
  dl.action:nth-child(2) {
    transition-delay: 200ms;
  }
  dl.action:nth-child(3) {
    transition-delay: 400ms;
  }
  dl.action:nth-child(4) {
    transition-delay: 600ms;
  }
  dl.action:nth-child(5) {
    transition-delay: 800ms;
  }
}

.section-main.init,
.features-section.init,
.section-product.init,
.token-section.init,
.section-why.init,
.ecosystem-section.init,
.section-roadmap.init {
  opacity: 0;
}

.section-main.effect,
.features-section.effect,
.section-product.effect,
.token-section.effect,
.section-why.effect,
.ecosystem-section.effect,
.section-roadmap.effect {
  opacity: 1;
}