$color-orange: #FF8212;
$color-pink: #E11B7B;
$color-blue: #0893F4;
$color-cyan: #31E4D3;
$color-yellow: #DAE968;
$color-gray: #f9f9f9;

@font-face {
  font-family: Inter;
  src: url('../font/Inter-VariableFont.ttf');
}

html, body {
  font-family: Inter;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

%header-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  @media only screen and (max-width: 480px) {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
}
h2 {
  @extend %header-title;
}

%common {
  font-size: 16px;
  line-height: 26px;  
}
p {
  @extend %common;
  @media only screen and (max-width: 480px) {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}


%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%flex-center {
  @extend %flex;
  justify-content: center;
}



.up {
  width: 48px;
  height: 48px;
  background: url('../image/up-icon.svg') 0 0 no-repeat;
  background-size: 100% 100%;
  position: fixed;
  right: 80px;
  bottom: 80px;
  cursor: pointer;
  display: none;
}
.button {
  @extend %flex-center;
  color: white;
  font-size: 14px;
  line-height: 17px;
  width: 160px;
  height: 40px;
  background: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
  border-radius: 3px;
  cursor: pointer;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}
.back-gray {
  background-color: $color-gray;
}
.back-gray-light {
  background-color: #FAFAFA;
}
.back-black {
  color: white;
  background-color: black;
}
.back-black-gray {
  color: white;
  background-color: #172026;
}

.head {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  background-color: transparent;
  @extend %flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .content {
    width: 1280px;
    display: flex;
    justify-content: space-between;
  }
}
.head.dark {
  color: white;
  .logo {
    background-image: url('../image/logo-text-white.svg');
  }
}

.column {
  @extend %flex-center; 
}

.section-main {
  min-height: 700px;
  .left {
    width: 100%;
    height: 100%;
    max-width: 720px;
    padding-top: 190px;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 30px;
      background: url('../image/icon.svg') 100% 0 no-repeat;
    }
    h2 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 60px;
      margin-right: 60px;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: flex-start ;
      padding-left: 28px;
      margin: 0 auto;
      img {
        margin-right: 12px;
      }
    }
  }
  .right {
    width: 50%;
    height: 780px;
    background: url('../image/back-main.svg') 0 0 no-repeat;
    position: relative;
    .rotate-item {
      width: 100%;
      height: 100%;
      background: url('../image/polka.gif') 0 0 no-repeat;
    }
  }
}

.section-reason {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 900px;
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .list {
    @extend %flex-center;
    justify-content: flex-start;
    flex-wrap: wrap;
    dl {
      width: 426px;
      height: 346px;
      padding: 160px 48px 70px 48px;
      background-position: 56px 56px;
      background-repeat: no-repeat;
    }
    dt {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    dd {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
    dl:nth-child(1) {
      background-image: url('../image/list-1.svg');
    }
    dl:nth-child(2) {
      background-image: url('../image/list-2.svg');
    }
    dl:nth-child(3) {
      background-image: url('../image/list-3.svg');
    }
    dl:nth-child(4) {
      background-image: url('../image/list-4.svg');
    }
    dl:nth-child(5) {
      background-image: url('../image/list-5.svg');
    }
    dl:nth-child(6) {
      background-image: url('../image/list-6.svg');
    }
  }
}

.section-secure {
  padding: 120px 0 130px 0;
  h2 {
    text-align: center;
    margin-bottom: 54px;
  }
  .data-list {
    @extend %flex-center;
    margin-bottom: 76px;
    li {
      width: 25%;
      text-align: center;
    }
    h4 {
      color: $color-pink;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 18px;
    }
  }
  img {
    margin: 0 auto; 
  }
  .data-text {
    padding-top: 20px;
    @extend %flex-center;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
    li {
      display: flex;
      flex-direction: row;
      margin: 0 30px;
    }
    img {
      margin: 0 20px 0 0;
    }
  }
}

.section-service {
  margin-left: 160px;
  dl {
    margin-bottom: 60px;
  }
  dt {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #FB822A;
  }
  dd {
    font-size: 14px;
    line-height: 17px;
    color: white;
  }
  dl:nth-child(3) dt, dl:nth-child(5) dt {
    color: #E11B7B;
  }
  dl:nth-child(4) dt {
    background-image: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.section-productor {
  padding-top: 120px;
}

.section-more {
  width: 100%;
  min-height: 600px;
  background: linear-gradient(87.88deg, #FB822A -8.14%, #E71762 95.01%);
  color: white;
  .content {
    padding-top: 100px;
    padding-bottom: 130px;
    padding-left: 80px;
    position: relative;
    .back {
      position: absolute;
      top: -30px;
      right: 0;
      width: 520px;
      height: 460px;
      background: url('../image/union.svg') right top no-repeat;
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
  }
  .more-list {
    @extend %flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    dl {
      width: 50%;
      background: url('..') 0 0 no-repeat;
      padding: 0 20px 0 110px;
      min-height: 110px;
      margin-bottom: 30px;
    }
    dl:nth-child(1) {
      background-image: url('../image/item-1.svg');
    }
    dl:nth-child(2) {
      background-image: url('../image/item-2.svg');
    }
    dl:nth-child(3) {
      background-image: url('../image/item-3.svg');
    }
    dl:nth-child(4) {
      background-image: url('../image/item-4.svg');
    }
    dl:nth-child(5) {
      background-image: url('../image/item-5.svg');
    }
    dl:nth-child(6) {
      background-image: url('../image/item-6.svg');
    }
    dt {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    dd {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.back-map {
  background:#172026 url('../image/back-logo.svg') center 200px no-repeat;
}
.section-roadmap {
  padding: 370px 0 200px 0;
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .roadmap {
    overflow: hidden;
  }
  .control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    li {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.05) url() center center no-repeat;
      cursor: pointer;
      margin-left: 20px;
    }
    li:first-child {
      background-image: url('../image/arr-left.svg');
    }
    li:last-child {
      background-image: url('../image/arr-right.svg');
    }
    li:first-child:hover {
      background-image: url('../image/arr-left-hover.svg');
    }
    li:last-child:hover {
      background-image: url('../image/arr-right-hover.svg');
    }
  }
  .road-item {
    display: flex;
    white-space: nowrap;
  }
  dl {
    width: 240px;
    height: 300px;
    margin-right: 20px;
    padding: 20px;
    background-color: #1F2B32;
    border-radius: 10px;
    flex: 0 0 auto;
  }
  dt {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 44px;
    background: url('../image/back-path.svg') 0 0 no-repeat;
    margin-bottom: 40px;
  }
  dd {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  dd.type {
    color: white;
    margin-bottom: 30px;
  }
}

.section-governed {
  padding-top: 120px;
  padding-bottom: 40px;
  background: url('../image/lines.svg') 0 140px no-repeat;
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  p {
    text-align: center;
    max-width: 610px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 30px auto;
  }
  .govern {
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
    padding-top: 30px;
    dl {
      width: 25%;
      min-height: 340px;
      background-color: #1F2B32;
      margin-right: 20px;
      padding: 40px 20px;
    }
    dt {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    dd {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.5);
    }
    .govern-list {
      width: 50%;
      dl {
        width: 100%;
        min-height: calc(50% - 10px);
        margin-bottom: 20px;
      }
    }
  }
}

.section-partners {
  p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 88px;
  }
  .partner {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 150px;
      height: 38px;
      cursor: pointer;
      width: 25%;
      margin-bottom: 68px;
    }
    li a {
      display: block;
      width: 100%;
      height: 100%;
      background: url() center center no-repeat;
    }
    li:nth-child(4n+1) {
      background-position: left center;
    }
    li:nth-child(4n) {
      background-position: right center;
    }
    li.logo-bithumb a {
      background-image: url('../image/partners/bithumb.svg');
    }
    li.logo-bithumb a:hover {
      background-image: url('../image/partners/bithumb-hover.svg');
    }
    li.logo-polkadot a {
      background-image: url('../image/partners/polkadot.svg');
    }
    li.logo-polkadot a:hover {
      background-image: url('../image/partners/polkadot-hover.svg');
    }
    li.logo-web3 a {
      background-image: url('../image/partners/web3.svg');
    }
    li.logo-web3 a:hover {
      background-image: url('../image/partners/web3-hover.svg');
    }
    li.logo-parity a {
      background-image: url('../image/partners/parity.svg');
    }
    li.logo-parity a:hover {
      background-image: url('../image/partners/parity-hover.svg')
    }
    li.logo-crust a {
      background-image: url('../image/partners/crust.svg');
    }
    li.logo-crust a:hover {
      background-image: url('../image/partners/crust-hover.svg');
    }
    li.logo-bifrost a {
      background-image: url('../image/partners/bifrost.svg')
    }
    li.logo-bifrost a:hover {
      background-image: url('../image/partners/bifrost-hover.svg')
    }
    li.logo-stafi a {
      background-image: url('../image/partners/stafi.svg');
    }
    li.logo-stafi a:hover {
      background-image: url('../image/partners/stafi-hover.svg');
    }
    li.logo-kusama a{
      background-image: url('../image/partners/kusama.svg'); 
    }
    li.logo-kusama a:hover {
      background-image: url('../image/partners/kusama-hover.svg');
    }
    li.logo-plasm a {
      background-image: url('../image/partners/plasm.svg');
    }
    li.logo-plasm a:hover {
      background-image: url('../image/partners/plasm-hover.svg');
    }
    li.logo-chainx a {
      background-image: url('../image/partners/chainx.svg');
    }
    li.logo-chainx a:hover {
      background-image: url('../image/partners/chainx-hover.svg');
    }
    li.logo-acala a {
      background-image: url('../image/partners/acala.svg');
    }
    li.logo-acala a:hover {
      background-image: url('../image/partners/acala-hover.svg');
    }
    li.logo-substrate a {
      background-image: url('../image/partners/substrate.svg');
    }
    li.logo-substrate a:hover {
      background-image: url('../image/partners/substrate-hover.svg');
    }
    li.logo-phala a{
      background-image: url('../image/partners/phala.svg');
    }
    li.logo-phala a:hover {
      background-image: url('../image/partners/phala-hover.svg')
    }
  }
}

.section-about {
  background: url('../image/more-background.svg') center center no-repeat;
  padding: 180px 0 80px 0;
  text-align: center;
  h2 { 
    max-width: 720px;
    margin: 0 auto 40px auto;
  }
  p {
    max-width: 750px;
    margin: 0 auto;
  }
}

.section-join {
  min-height: 600px;
  background: url('../image/circle-pair.svg') 100% 80px no-repeat,
    url('../image/circle-down.svg')  0 0 /100% 100% no-repeat;
  padding: 220px 0 110px 0;
  h2 {
    max-width: 610px;
    margin-bottom: 40px;
  }
  p {
    max-width: 610px;
  }
}

.section-office {
  padding: 80px 0 100px 0;
  h2 {
    text-align: center;
  }
  .office {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  dl {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    margin-top: 60px;
  }
  dt {
    margin-top: 24px;
    font-size: 24px;
    text-align: center;
  }
  dd {
    max-width: 620px;
  }
}


.section-position {
  padding: 80px 0 100px 0;
  h2 {
    text-align: center;
  }
  .position {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    li {
      width: 620px;
      height: 120px;
      line-height: 120px;
      padding: 0 38px;
      border: 1px solid #172026;
      font-weight: 500;
      font-size: 24px;
      border-radius: 10px;
      margin: 10px 20px;
      background: url('../image/position-right.svg') right 20px center no-repeat;
    }
    li:hover {
      background-color: #172026;
      color: white;
      background-image: url('../image/position-right-hover.svg')
    }
    li:nth-child(2n) {
      margin-right: -20px;
    }
    li:nth-child(2n+1) {
      margin-left: 20px;
    }
    li a {
      display: block;
      width: 100%;
      height: 100%;
    }
    li.more {
      border: none;
      text-align: center;
      background: none;
      font-weight: bold;
    }
    li.more:hover {
      color: #172026;
    }
  }
}

.about-main.content {
  height: 720px;
  padding-top: 320px;
  padding-bottom: 80px;
  background: url('../image/about-main.png') 0 0 no-repeat;
  background-size: 100% 100%;
  h2 {
    max-width: 640px;
    margin-bottom: 40px;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
    max-width: 610px;
    margin-bottom: 40px;
  }
}

.about-trade-protocol {
  padding: 40px 0 0 0;
  .left {
    width: 50%;
  }
  dl {
    padding-left: 52px;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 320px;
  }
  dt {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    color: black;
  }
  dd {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  dl:nth-child(1) {
    background-image: url('../image/trade-1.svg');
  }
  dl:nth-child(2) {
    background-image: url('../image/trade-2.svg');
  }
  dl:nth-child(3) {
    background-image: url('../image/trade-3.svg');
  }
}

.about-money-market {
  padding: 40px 0;
  .right {
    width: 320px;
    margin-right: -140px;
    margin-left: 140px;
  }
  dl {
    padding-right: 54px;
    background-position: right 0;
    background-repeat: no-repeat;
    width: 350px;
    text-align: right;
  }
  dl:nth-child(1) {
    background-image: url('../image/market-1.svg');
  }
  dl:nth-child(2) {
    background-image: url('../image/market-2.svg');
  }
  dl:nth-child(3) {
    background-image: url('../image/market-3.svg');
  }
  dt {
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  dd {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

.about-staking-liquidity {
  padding: 40px 0;  
  .left {
    width: 50%;
  }
  dl {
    padding-left: 52px;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 320px;
  }
  dt {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    color: black;
  }
  dd {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  dl:nth-child(1) {
    background-image: url('../image/staking-1.svg');
  }
  dl:nth-child(2) {
    background-image: url('../image/staking-2.svg');
  }
  dl:nth-child(3) {
    background-image: url('../image/staking-3.svg');
  }
}


@media only screen and (max-width: 1280px) {
  .content {
    padding: 70px 20px;
  }
  .head .logo {
    margin-left: 20px;
  }
  .section-main {
    padding-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .up {
    width: 40px;
    height: 40px;
    right: 20px;
  }
  .head {
    width: 100%;
    height: 64px;
    box-shadow: none;
    .content {
      padding: 0;
    }
  }
  .column {
    flex-direction: column;
    .left, .right {
      width: 100%;
    }
    .right {
      padding-top: 20px;
    }
  }

  .section-main.column {
    display: block;
    padding: 130px 20px 0 20px;
    .left {
      padding: 0;
      h1 {
        font-size: 36px;
        padding-top: 40px;
      }
      p {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    .right, .rotate-item {
      background-size: 100% 430px;
      height: 370px;
      background-position: 0 -60px;
    }
    .button {
      margin: 40px auto;
    }
  }

  .section-reason .list {
    dl {
      background-position: center 0;
      padding: 80px 0 40px 0;
      text-align: center;
      height: auto;
    }
  }

  .section-secure {
    padding-top: 140px;
    h2 {
      margin-bottom: 40px;
    }
    .data-list {
      flex-wrap: wrap;
      margin-bottom: 20px;
      li:first-child {
        width: 100%;
        margin-bottom: 20px;
      }
      li {
        width: 50%;
      }
      h4 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .section-more {
    .content {
      padding: 70px 0;
      .back {
        background-size: 50% 50%;
        margin-top: -40px;
      }
    }
    h2 {
      text-align: left;
      padding-left: 30px;
    }
    .more-list {
      flex-direction: column;
      padding: 0 20px;
      dl {
        width: 100%;
        padding-top: 0;
        margin-bottom: 20px;
        padding-left: 74px;
        background-size: 42px 42px;
      }
      dt {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      dd {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .section-governed {
    background-position: -80px 135px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 15px;
    }
    .govern {
      margin-top: 25px;
      flex-direction: column;
      dl {
        width: 100%;
        margin: 0 0 10px 0;
        height: auto;
      }
      .govern-list {
        width: 100%;
      }
    }
  }

    .back-map {
      background-image: none;
    }
  .section-roadmap {
    h2 {
      text-align: left;
      font-size: 32px;
    }
    .control {
      li {
        width: 48px;
        height: 48px;
      }
    }
  }

  .section-partners {
    p {
      margin-bottom: 40px;
    }
    .partner {
      li {
        width: 50%;
        margin-bottom: 40px;
        background-position: center center !important;
      }
      li.logo-polkadot {
        background-size: 80% 73%;
      }
      li.logo-web3 {
        background-size: 79% 78%;
      }
      li.logo-parity {
        background-size: 79% 79%;
      }
      li.logo-crust {
        background-size: 71% 72%;
      }
      li.logo-bifrost {
        background-size: 71% 71%;
      }
      li.logo-stafi {
        background-size: 71% 72%;
      }
      li.logo-plasm {
        background-size: 71% 71%;
      }
      li.logo-chainx {
        background-size: 62% 62%;
      }
      li.logo-acala {
        background-size: 80% 80%;
      }
    }
  }

  .section-secure {
    h2 {
      margin-bottom: 40px;
    }
    .data-list {
      flex-wrap: wrap;
      margin-bottom: 20px;
      li:first-child {
        width: 100%;
        margin-bottom: 20px;
      }
      li {
        width: 50%;
      }
      h4 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .data-text {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      li {
        flex: 1;
        font-size: 12px;
        line-height: 26px;
        margin-bottom: 0;
      }
    }
  }

  .about-main.content {
    background-size: 100% 200px;
    background-position: 100% 64px;
    padding-top: 264px;
  }

  .about-trade-protocol {
    img {
      margin-bottom: 20px;
    }
    dl {
      background-image: none !important;
      padding-left: 0;
      margin-bottom: 40px;
      width: 100%;
    }
    dt {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  .about-money-market {
    flex-direction: column-reverse;
    .right {
      margin: 0;
      margin-bottom: 20px;
    }
    dl {
      background-image: none !important;
      padding-right: 0;
      width: 100%;
    }
  }

  .animation {
    height: 340px !important;
    background: url('../image/animation/context.svg') 0 0 no-repeat;
    div {
      display: none;
    }
  }
  .section-service {
    margin-left: 0;
    dl {
      margin-bottom: 30px;
    }
    dt {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    dd {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .section-join {
    background:  url(../image/circle-pair.svg) center 0 / 200px 240px no-repeat,
      url(../image/circle-down.svg) 0 -220px / 100% 100% no-repeat;
    padding-top: 290px;
  }

  .section-service dl {
    animation: none !important;
  }

  .about-staking-liquidity {
    .left {
      margin-bottom: 20px;
    }
    dl {
      background-image: none !important;
      padding-left: 0;
      margin-bottom: 40px;
      width: 100%;
    }
    dt {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  .button {
    margin: 0 auto;
  }

  .section-about {
    padding: 160px 30px 30px 30px;
    background-image: url('../image/more-background-small.svg');
    background-position: left 96px;
  }

  .section-office {
    dl {
      width: 100%;
    }
  }

  .section-position {
    .position li {
      height: 60px;
      line-height: 60px;
      font-size: 16px;
      font-weight: 500;
      margin: 10px 0 !important;
    }
  }
}

