@import 'styles/variables';

.content {
  width: 100%;
  color: $color-white;
  box-sizing: border-box;
  margin-top: 150px;
  margin-bottom: 90px;

  @media (max-width: $media-md) {
    width: calc(100% - 42px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }

  @media (max-width: $media-sm) {
    margin-top: 60px;
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.team {
  border-radius: 30px;
  background: var(--color-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
  padding: 120px 102px 90px 102px;
  font-style: normal;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;

  @media (max-width: $media-md) {
    padding: 62px 84px 30px 84px;
  }

  @media (max-width: $media-sm) {
    padding: 48px 30px;
    border-radius: 30px;
  }
}

.header {
  margin-bottom: 40px;
  font-family: Gilroy-SemiBold;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -2px;

  color: var(--color-text);

  @media (max-width: $media-md) {
    font-size: 48px;
    line-height: 54px;
  }

  @media (max-width: $media-sm) {
    font-size: 30px;
    line-height: 30px;
  }
}

.people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $media-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.peopleSingle {
  margin-bottom: 30px;
}

.avatar {
  width: 180px;
  margin-bottom: 32px;

  @media (max-width: $media-lg) {
    width: 142px;
  }

  @media (max-width: $media-sm) {
    width: 120px;
    margin-bottom: 12px;
  }
}
.name {
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: var(--color-text);
}
.desc {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: $color-light;
}

@media (min-width: $media-lg) {
  .people {
    flex-direction: row;
  }
}

@media (max-width: $media-sm) {
  .name {
    font-size: 16px;
    line-height: 24px;
  }

  .desc {
    font-size: 16px;
    line-height: 24px;
  }
}
