.section-main.effect .m-1.hidden, .section-main.effect .m-2.hidden {
  transform: translateY(620px);
  opacity: 0;
}
.section-main.effect .m-3.hidden, .section-main.effect .m-4.hidden {
  transform: translateY(100px);
  opacity: 0;
}
.section-main.effect .m-1.action, .section-main.effect .m-2.action, .section-main.effect .m-3.action, .section-main.effect .m-4.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.8s;
}
.section-main.effect .m-2.action {
  transition-duration: 0.6s;
  transition-delay: 0.6s;
}
.section-main.effect .m-3.action {
  transition-duration: 0.2s;
  transition-delay: 1.4s;
}
.section-main.effect .m-4.action {
  transition-duration: 0.2s;
  transition-delay: 1.8s;
}

.features-section.effect .li-1.hidden, .features-section.effect .li-2.hidden, .features-section.effect .li-3.hidden {
  transform: translateY(300px);
  opacity: 0;
}
.features-section.effect .li-1.action, .features-section.effect .li-2.action, .features-section.effect .li-3.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.4s;
}
.features-section.effect .li-2.action {
  transition-delay: 0.4s;
}
.features-section.effect .li-3.action {
  transition-delay: 0.8s;
}

.section-product.effect .content.hidden, .section-product.effect .m-1.hidden, .section-product.effect .m-2.hidden, .section-product.effect .m-3.hidden {
  opacity: 0;
}
.section-product.effect .content.hidden {
  transform: translateY(580px);
}
.section-product.effect .m-1.hidden {
  transform: translateY(100px);
}
.section-product.effect .m-2.hidden {
  transform: translateY(40px);
}
.section-product.effect .m-3.hidden {
  transform: translateY(180px);
}
.section-product.effect .content.action, .section-product.effect .m-1.action, .section-product.effect .m-2.action, .section-product.effect .m-3.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.6s;
}
.section-product.effect .m-1.action {
  transition-duration: 300ms;
  transition-delay: 0.6s;
}
.section-product.effect .m-2.action {
  transition-duration: 100ms;
  transition-delay: 0.9s;
}
.section-product.effect .m-3.action {
  transition-duration: 300ms;
  transition-delay: 1s;
}

.section-why.effect .m-1.hidden, .section-why.effect .m-3.hidden {
  transform: translateY(240px);
  opacity: 0;
}
.section-why.effect .m-2.hidden, .section-why.effect .m-4.hidden {
  transform: translateY(480px);
  opacity: 0;
}
.section-why.effect .m-1.action, .section-why.effect .m-2.action, .section-why.effect .m-3.action, .section-why.effect .m-4.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.6s;
}
.section-why.effect .m-2.action {
  transition-delay: 0.2s;
}
.section-why.effect .m-3.action {
  transition-delay: 0.4s;
}
.section-why.effect .m-4.action {
  transition-delay: 0.6s;
}

.token-section.effect .m-1.hidden {
  transform: translateY(400px);
  opacity: 0;
}
.token-section.effect .m-2.hidden, .token-section.effect .m-3.hidden, .token-section.effect .m-4.hidden, .token-section.effect .m-5.hidden, .token-section.effect .m-6.hidden {
  transform: translateY(200px);
  opacity: 0;
}
.token-section.effect .m-1.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.6s;
}
.token-section.effect .m-2.action, .token-section.effect .m-3.action, .token-section.effect .m-4.action, .token-section.effect .m-5.action, .token-section.effect .m-6.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
}
.token-section.effect .m-2.action {
  transition-delay: 0.8s;
}
.token-section.effect .m-3.action {
  transition-delay: 1s;
}
.token-section.effect .m-4.action {
  transition-delay: 1.2s;
}
.token-section.effect .m-5.action {
  transition-delay: 1.4s;
}
.token-section.effect .m-6.action {
  transition-delay: 1.6s;
}

.ecosystem-section.effect .section-ecosystem.hidden {
  transform: translateY(120px);
  opacity: 0;
}
.ecosystem-section.effect h2.hidden {
  transform: translateY(-30px);
  opacity: 0;
}
.ecosystem-section.effect .ecosystem.hidden {
  transform: translateY(30px);
  opacity: 0;
}
.ecosystem-section.effect .section-ecosystem.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 400ms;
}
.ecosystem-section.effect h2.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-delay: 200ms;
}
.ecosystem-section.effect .ecosystem.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 100ms;
  transition-delay: 440ms;
}

.section-roadmap.effect ul.hidden {
  transform: translateX(100px);
  opacity: 0;
}
.section-roadmap.effect h2.hidden, .section-roadmap.effect dl.hidden {
  transform: translateY(120px);
  opacity: 0;
}
.section-roadmap.effect h2.action, .section-roadmap.effect ul.action, .section-roadmap.effect dl.action {
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 300ms;
}
.section-roadmap.effect ul.action {
  transition-delay: 800ms;
}
.section-roadmap.effect dl.action:nth-child(1) {
  transition-delay: 100ms;
}
.section-roadmap.effect dl.action:nth-child(2) {
  transition-delay: 200ms;
}
.section-roadmap.effect dl.action:nth-child(3) {
  transition-delay: 400ms;
}
.section-roadmap.effect dl.action:nth-child(4) {
  transition-delay: 600ms;
}
.section-roadmap.effect dl.action:nth-child(5) {
  transition-delay: 800ms;
}

.section-main.init,
.features-section.init,
.section-product.init,
.token-section.init,
.section-why.init,
.ecosystem-section.init,
.section-roadmap.init {
  opacity: 0;
}

.section-main.effect,
.features-section.effect,
.section-product.effect,
.token-section.effect,
.section-why.effect,
.ecosystem-section.effect,
.section-roadmap.effect {
  opacity: 1;
}

/*# sourceMappingURL=effect.css.map */
