.home {
  position: relative;
}
.home .banner {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 1100px;
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .banner-wrapper .wave-item {
  width: calc((1300px - 200px) / 2);
  height: calc((1300px - 200px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.home .banner-wrapper .wave-item::before, .home .banner-wrapper .wave-item::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.home .banner-wrapper .wave-item::before {
  width: 812px;
  height: 812px;
  border-color: rgba(0, 0, 0, 0.05);
}
.home .banner-wrapper .wave-item::after {
  width: 1124px;
  height: 1124px;
  border-color: rgba(0, 0, 0, 0.04);
}
.home .banner-wrapper .icon-warp {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .banner-wrapper .icon-warp.black {
  background-color: #000000;
}
.home .banner-wrapper .icon-warp-big {
  width: 236px;
  height: 236px;
}
.home .banner-wrapper .icon-warp-small {
  width: 90px;
  height: 90px;
}
.home .banner-wrapper .icon-img-1 {
  width: 54px;
  height: 86px;
}
.home .banner-wrapper .icon-img-2 {
  width: 75px;
  height: 99px;
}
.home .banner-wrapper .right-top {
  position: absolute;
  top: 154px;
  right: 0;
  transform: translateX(50%);
}
.home .banner-wrapper .right-bottom {
  position: absolute;
  bottom: 115px;
  right: 0;
  transform: translateX(25%);
}
.home .banner-wrapper .left-top {
  position: absolute;
  top: 135px;
  left: 0;
  transform: translateX(-50%);
}
.home .banner-wrapper .left-bottom {
  position: absolute;
  bottom: 115px;
  left: 0;
  transform: translateX(-25%);
}
.home .slogin {
  position: absolute;
  top: 193px;
  height: 160px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: #1e3723;
  line-height: 80px;
}
.home .slogin .green {
  color: #5ccf03;
}
.home .banner-footer {
  color: #1d2d31;
  font-weight: 500;
  position: absolute;
  width: 100%;
  bottom: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.home .banner-footer .desc {
  text-indent: 40px;
  max-width: 816px;
  margin-bottom: 44px;
  text-align: center;
}
.home .btn-start {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.home .btn-start .icon-arrow {
  margin-left: 10px;
}
.home .img-box-web {
  display: block;
  padding: 68px 0;
}
.home .img-box-web .row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.home .img-box-web .row .box {
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  width: 400px;
  display: flex;
}
.home .img-box-web .row .box a {
  padding: 0 20px;
}
.home .img-box-h5 {
  display: none;
}
.home .img-box-h5 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.home .img-box-h5 .row .polkadot {
  width: 139px;
  height: 69px;
  background: url("../image/index/polkadot.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .bithumb-global {
  width: 128.24px;
  height: 35.59px;
  background: url("../image/index/bithumb-global.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .bifrost {
  width: 103.28px;
  height: 22.33px;
  background: url("../image/index/bifrost.png") no-repeat center/cover;
}
.home .img-box-h5 .row .stafi {
  width: 97.94px;
  height: 23.73px;
  background: url("../image/ecosystem/stafi.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .plasmnet {
  width: 94.98px;
  height: 34.19px;
  background: url("../image/ecosystem/plasmnet.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .kusama {
  width: 100px;
  height: 42.57px;
  background: url("../image/ecosystem/kusama.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .chainx {
  width: 103.28px;
  height: 22.33px;
  background: url("../image/ecosystem/chainx.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .crust {
  width: 97.94px;
  height: 23.73px;
  background: url("../image/ecosystem/crust.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .phala {
  width: 110.25px;
  height: 30.7px;
  background: url("../image/ecosystem/phala.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .litentry {
  width: 157.01px;
  height: 53.73px;
  background: url("../image/index/litentry.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .boring {
  width: 148.63px;
  height: 36.29px;
  background: url("../image/index/boring.svg") no-repeat center/cover;
}
.home .img-box-h5 .row .substrate {
  width: 102px;
  height: 40px;
  background: url("../image/ecosystem/substrate.svg") no-repeat center/cover;
}
.home .img-box-h5 .row img {
  width: 100px;
}
.home .swaps-body .title {
  width: 689px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #1d2d31;
  padding-bottom: 68px;
}
.home .swaps-body .title .what {
  color: #5ccf00;
}
.home .swaps-body .swaps-list {
  display: flex;
  min-height: 452px;
  justify-content: center;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
.home .swaps-body .swaps-list .item {
  margin: 20px 10px 0 20px;
  width: 273px;
  min-height: 313px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 40px 23px;
}
.home .swaps-body .swaps-list .item .top {
  height: 80px;
  padding-bottom: 36px;
  display: flex;
  justify-content: center;
}
.home .swaps-body .swaps-list .item:hover {
  transform: translateY(-10px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  cursor: pointer;
}
.home .press-box .press-title {
  color: #202225;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  padding: 48px 0 68px 0;
}
.home .press-box .press-list {
  display: flex;
  min-height: 452px;
  justify-content: center;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
.home .press-box .press-list .item {
  margin: 20px 10px 0 20px;
  width: 273px;
  min-height: 313px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 40px 23px;
}
.home .press-box .press-list .item .top {
  font-size: 15px;
  color: #1d2d31;
}
.home .press-box .press-list .item .bottom {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 33px;
}
.home .press-box .press-list .item:hover {
  transform: translateY(-10px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .home .banner {
    width: 100%;
    max-width: 424px;
    height: auto;
    display: block;
    padding-top: 128px;
  }
  .home .banner-wrapper {
    position: relative;
    height: 186px;
  }
  .home .banner-wrapper .uni {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
  .home .banner-wrapper .wave-item {
    width: 186px;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .home .banner-wrapper .wave-item::before {
    width: 274px;
    height: 274px;
  }
  .home .banner-wrapper .wave-item::after {
    width: 360px;
    height: 360px;
  }
  .home .banner-wrapper .wave-item.left {
    left: -25px;
  }
  .home .banner-wrapper .wave-item.right {
    right: -25px;
  }
  .home .banner-wrapper .icon-warp-big {
    width: 79px;
    height: 79px;
  }
  .home .banner-wrapper .icon-warp-small {
    width: 30px;
    height: 30px;
  }
  .home .banner-wrapper .icon-img-1 {
    width: 18px;
    height: 29px;
  }
  .home .banner-wrapper .icon-img-2 {
    width: 25px;
    height: 33px;
  }
  .home .banner-wrapper .icon-img-5 {
    width: 16px;
    height: 16px;
  }
  .home .banner-wrapper .right-top {
    top: 50%;
    transform: translateX(50%);
  }
  .home .banner-wrapper .right-bottom {
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: translateX(0);
  }
  .home .banner-wrapper .left-top {
    top: 50%;
    transform: translateX(-50%);
  }
  .home .banner-wrapper .left-bottom {
    bottom: 0;
    left: 30px;
    transform: translateX(0);
  }
  .home .slogin,
.home .banner-footer {
    position: initial;
  }
  .home .slogin {
    height: 80px;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    margin-bottom: 60px;
  }
  .home .banner-footer {
    padding-top: 69px;
    font-size: 10px;
    font-size: 15px;
  }
  .home .img-box-web {
    display: none;
  }
  .home .img-box-h5 {
    display: block;
  }
  .home .swaps-body .title {
    width: 320px;
    font-size: 27px;
    padding-bottom: 56px;
    padding-top: 80px;
  }
  .home .swaps-body .swaps-list .item {
    width: 336px;
    border: none;
    padding: 0 0 48px 0;
    margin: 0;
    min-height: 0;
  }
  .home .swaps-body .swaps-list .item .bottom {
    text-align: center;
  }
  .home .press-box .press-title {
    font-size: 40px;
    padding: 0;
  }
  .home .press-box .press-list .item {
    width: 335px;
    margin: 20px 0 0 0;
  }
}/*# sourceMappingURL=home.css.map */