$width: calc((1300px - 200px) / 2);
.home {
  position: relative;
  .banner {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 1100px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wave-item {
      width: $width;
      height: $width;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 50%;
      border: 1px solid rgba(#000000, 0.1);
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        border-radius: 50%;
        border: 1px solid rgba(#000000, 0.1);
      }

      &::before {
        width: 812px;
        height: 812px;
        border-color: rgba(#000000, 0.05);
      }
      &::after {
        width: 1124px;
        height: 1124px;
        border-color: rgba(#000000, 0.04);
      }
    }

    .icon-warp {
      position: relative;
      z-index: 2;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      &.black {
        background-color: #000000;
      }
    }
    .icon-warp-big {
      width: 236px;
      height: 236px;
    }
    .icon-warp-small {
      width: 90px;
      height: 90px;
    }
    .icon-img-1 {
      width: 54px;
      height: 86px;
    }
    .icon-img-2 {
      width: 75px;
      height: 99px;
    }
    .right-top {
      position: absolute;
      top: 154px;
      right: 0;
      transform: translateX(50%);
    }
    .right-bottom {
      position: absolute;
      bottom: 115px;
      right: 0;
      transform: translateX(25%);
    }
    .left-top {
      position: absolute;
      top: 135px;
      left: 0;
      transform: translateX(-50%);
    }
    .left-bottom {
      position: absolute;
      bottom: 115px;
      left: 0;
      transform: translateX(-25%);
    }
  }

  .slogin {
    position: absolute;
    top: 193px;
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: #1e3723;
    line-height: 80px;
    .green {
      color: #5ccf03;
    }
  }

  .banner-footer {
    color: #1d2d31;
    font-weight: 500;
    position: absolute;
    width: 100%;
    bottom: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    .desc {
      text-indent: 40px;
      max-width: 816px;
      margin-bottom: 44px;
    }
  }

  .btn-start {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    border: 1px solid rgba(#000000, 0.15);
    box-sizing: border-box;
    .icon-arrow {
      margin-left: 10px;
    }
  }

  // *****************
  .img-box-web {
    display: block;
    padding: 68px 0;
    .row {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      .box {
        align-items: center;
        padding: 20px 0;
        justify-content: space-between;
        width: 400px;
        display: flex;

        a {
          // height: 35px;
          padding: 0 20px;
        }
      }
    }
  }
  .img-box-h5 {
    display: none;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      .polkadot{
        width: 139px;
        height: 69px;
        background: url('../image/index/polkadot.svg') no-repeat;
      }
      .bithumb-global{
        width: 128.24px;
        height: 35.59px;
        background: url('../image/index/bithumb-global.svg') no-repeat;
      }
      img {
        width: 100px;
      }
    }
  }
  .swaps-body {
    .title {
      width: 689px;
      margin: 0 auto;
      font-weight: bold;
      font-size: 36px;
      line-height: 46px;
      text-align: center;
      color: #1d2d31;
      padding-bottom: 68px;

      .what {
        color: #5ccf00;
      }
    }
    .swaps-list {
      display: flex;
      min-height: 452px;
      justify-content: center;
      padding-bottom: 60px;
      flex-wrap: wrap;
      .item {
        margin: 20px 10px 0 20px;
        width: 273px;
        min-height: 313px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        padding: 40px 23px;
        .top {
          height: 80px;
          padding-bottom: 36px;
          display: flex;
          justify-content: center;
        }
      }
      .item:hover {
        transform: translateY(-10px);
        transition-timing-function: linear;
        transition-property: opacity, transform;
        transition-duration: 0.1s;
        cursor: pointer;
      }
    }
  }

  .press-box {
    .press-title {
      color: #202225;
      font-weight: bold;
      font-size: 72px;
      text-align: center;
      padding: 48px 0 68px 0;
    }
    .press-list {
      display: flex;
      min-height: 452px;
      justify-content: center;
      padding-bottom: 60px;
      flex-wrap: wrap;
      .item {
        margin: 20px 10px 0 20px;
        width: 273px;
        min-height: 313px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        padding: 40px 23px;
        .top {
          font-size: 15px;
          color: #1d2d31;
        }
        .bottom {
          width: 74px;
          height: 74px;
          border-radius: 50%;
          background: rgba(#000000, 0.2);
          margin-top: 33px;
        }
      }
      .item:hover {
        transform: translateY(-10px);
        transition-timing-function: linear;
        transition-property: opacity, transform;
        transition-duration: 0.1s;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px) {
    .banner {
      width: 100%;
      max-width: 424px;
      height: auto;
      display: block;
      padding-top: 128px;
    }
    .banner-wrapper {
      position: relative;
      height: 186px;
      .uni {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
      }
      .wave-item {
        width: 186px;
        height: 100%;
        position: absolute;
        top: 0;
        &::before {
          width: 274px;
          height: 274px;
        }
        &::after {
          width: 360px;
          height: 360px;
        }
        &.left {
          left: -25px;
        }
        &.right {
          right: -25px;
        }
      }
      .icon-warp-big {
        width: 79px;
        height: 79px;
      }
      .icon-warp-small {
        width: 30px;
        height: 30px;
      }
      .icon-img-1 {
        width: 18px;
        height: 29px;
      }
      .icon-img-2 {
        width: 25px;
        height: 33px;
      }
      .icon-img-5 {
        width: 16px;
        height: 16px;
      }
      .right-top {
        top: 50%;
        transform: translateX(50%);
      }
      .right-bottom {
        position: absolute;
        bottom: 0;
        right: 30px;
        transform: translateX(0);
      }
      .left-top {
        top: 50%;
        transform: translateX(-50%);
      }
      .left-bottom {
        bottom: 0;
        left: 30px;
        transform: translateX(0);
      }
    }
    .slogin,
    .banner-footer {
      position: initial;
    }

    .slogin {
      height: 80px;
      font-size: 30px;
      line-height: 40px;
      display: flex;
      flex-direction: column;
      transform: translateX(0);
      margin-bottom: 60px;
    }
    .banner-footer {
      padding-top: 69px;
      font-size: 10px;
      font-size: 15px;
    }

    .img-box-web {
      display: none;
    }
    .img-box-h5 {
      display: block;
    }

    .swaps-body {
      .title {
        width: 336px;
        font-size: 27px;
        padding-bottom: 56px;
        padding-top: 80px;
      }
      .swaps-list {
        .item {
          width: 336px;
          border: none;
          padding: 0 0 48px 0;
          margin: 0;
          min-height: 0;
        }
      }
    }
    .press-box {
      .press-title {
        font-size: 40px;
        padding: 0;
      }
      .press-list {
        .item {
          width: 335px;
          margin: 20px 0 0 0;
        }
      }
    }
  }
}
