.home {
  position: relative;
  width: 100vw;
  height: auto;
}
.home > .container {
  width: 100%;
  overflow: hidden;
}
.home .banner {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 1100px;
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .banner-wrapper .wave-item {
  width: calc((1300px - 200px) / 2);
  height: calc((1300px - 200px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.home .banner-wrapper .wave-item::before, .home .banner-wrapper .wave-item::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.home .banner-wrapper .wave-item::before {
  width: 812px;
  height: 812px;
  border-color: rgba(0, 0, 0, 0.05);
}
.home .banner-wrapper .wave-item::after {
  width: 1124px;
  height: 1124px;
  border-color: rgba(0, 0, 0, 0.04);
}
.home .banner-wrapper .icon-warp {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .banner-wrapper .icon-warp.black {
  background-color: #000000;
}
.home .banner-wrapper .icon-warp-big {
  width: 236px;
  height: 236px;
}
.home .banner-wrapper .icon-warp-small {
  width: 90px;
  height: 90px;
}
.home .banner-wrapper .icon-img-1 {
  width: 54px;
  height: 86px;
}
.home .banner-wrapper .icon-img-2 {
  width: 75px;
  height: 99px;
}
.home .banner-wrapper .icon-img-png {
  width: 100%;
  height: 100%;
}
.home .banner-wrapper .right-top {
  position: absolute;
  top: 154px;
  right: 0;
  transform: translateX(50%);
}
.home .banner-wrapper .right-bottom {
  position: absolute;
  bottom: 115px;
  right: 0;
  transform: translateX(25%);
}
.home .banner-wrapper .left-top {
  position: absolute;
  top: 135px;
  left: 0;
  transform: translateX(-50%);
}
.home .banner-wrapper .left-bottom {
  position: absolute;
  bottom: 115px;
  left: 0;
  transform: translateX(-25%);
}
.home .slogin {
  position: absolute;
  top: 193px;
  height: 160px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: #1e3723;
  line-height: 80px;
}
.home .slogin .green {
  color: #5ccf00;
}
.home .banner-footer {
  color: #1d2d31;
  font-weight: 500;
  position: absolute;
  width: 100%;
  bottom: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.home .banner-footer .desc {
  font-size: 22px;
  line-height: 35px;
  text-indent: 40px;
  max-width: 816px;
  margin-bottom: 44px;
  text-align: center;
  font-family: IBM-Plex-Mono;
  font-weight: 400;
}
.home .btn-start {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.home .btn-start .icon-arrow {
  margin-left: 10px;
}
.home .img-box-web {
  display: block;
  margin: 68px 0;
}
.home .img-box-web .row {
  margin: 0 auto;
  max-width: 1180px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home .img-box-web .row a {
  height: 70px;
}
.home .img-box-web .row a img {
  height: 100%;
}
.home .swaps-body .title {
  width: 689px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #1d2d31;
  padding-bottom: 68px;
  font-family: Circular-Std;
}
.home .swaps-body .title .what {
  color: #5ccf00;
}
.home .swaps-body .swaps-list {
  display: flex;
  min-height: 452px;
  justify-content: center;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
.home .swaps-body .swaps-list .item {
  margin: 20px 10px 0 20px;
  width: 273px;
  min-height: 313px;
  box-sizing: border-box;
  padding: 40px 23px;
  font-family: IBM-Plex-Mono;
}
.home .swaps-body .swaps-list .item .top {
  height: 80px;
  padding-bottom: 36px;
  display: flex;
  justify-content: center;
}
.home .swaps-body .swaps-list .item:hover {
  transform: translateY(-10px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  cursor: pointer;
}
.home .press-box .press-title {
  color: #202225;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  padding: 48px 0 68px 0;
}
.home .press-box .press-list {
  display: flex;
  min-height: 452px;
  justify-content: center;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
.home .press-box .press-list .item {
  margin: 20px 10px 0 20px;
  width: 273px;
  min-height: 313px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 40px 23px;
}
.home .press-box .press-list .item .top {
  font-size: 15px;
  color: #1d2d31;
}
.home .press-box .press-list .item .bottom {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 33px;
}
.home .press-box .press-list .item:hover {
  transform: translateY(-10px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
  cursor: pointer;
}
@media (min-width: 1179px) {
  .home .img-box-web .row a:not(:nth-child(6n)) {
    margin-right: 65px;
  }
}
@media (max-width: 1179px) {
  .home .img-box-web .row {
    width: 768px;
  }
  .home .img-box-web .row a:not(:nth-child(4n)) {
    margin-right: 65px;
  }
}
@media (max-width: 768px) {
  .home .banner {
    width: 100%;
    max-width: 424px;
    height: auto;
    display: block;
    padding-top: 128px;
  }
  .home .banner-wrapper {
    position: relative;
    height: 186px;
  }
  .home .banner-wrapper .uni {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
  .home .banner-wrapper .wave-item {
    width: 186px;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .home .banner-wrapper .wave-item::before {
    width: 274px;
    height: 274px;
  }
  .home .banner-wrapper .wave-item::after {
    width: 360px;
    height: 360px;
  }
  .home .banner-wrapper .wave-item.left {
    left: -25px;
  }
  .home .banner-wrapper .wave-item.right {
    right: -25px;
  }
  .home .banner-wrapper .icon-warp-big {
    width: 79px;
    height: 79px;
  }
  .home .banner-wrapper .icon-warp-small {
    width: 30px;
    height: 30px;
  }
  .home .banner-wrapper .icon-img-1 {
    width: 18px;
    height: 29px;
  }
  .home .banner-wrapper .icon-img-2 {
    width: 25px;
    height: 33px;
  }
  .home .banner-wrapper .icon-img-5 {
    width: 16px;
    height: 16px;
  }
  .home .banner-wrapper .right-top {
    top: 50%;
    transform: translateX(50%);
  }
  .home .banner-wrapper .right-bottom {
    position: absolute;
    bottom: 0;
    right: 30px;
    transform: translateX(0);
  }
  .home .banner-wrapper .left-top {
    top: 50%;
    transform: translateX(-50%);
  }
  .home .banner-wrapper .left-bottom {
    bottom: 0;
    left: 30px;
    transform: translateX(0);
  }
  .home .slogin,
.home .banner-footer {
    position: initial;
  }
  .home .slogin {
    height: 80px;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    margin-bottom: 60px;
  }
  .home .banner-footer {
    padding-top: 69px;
    font-size: 10px;
  }
  .home .banner-footer .desc {
    font-size: 15px;
  }
  .home .img-box-web {
    margin: 0;
    padding: 68px 0 0 0;
  }
  .home .img-box-web .row {
    width: auto;
    justify-content: space-between;
  }
  .home .img-box-web .row a {
    margin-right: 0 !important;
    width: 45%;
    height: auto;
  }
  .home .img-box-web .row a img {
    height: auto;
    width: 100%;
  }
  .home .swaps-body .title {
    width: 320px;
    font-size: 27px;
    padding-bottom: 56px;
    padding-top: 80px;
  }
  .home .swaps-body .swaps-list .item {
    width: 336px;
    border: none;
    padding: 0 0 48px 0;
    margin: 0;
    min-height: 0;
  }
  .home .swaps-body .swaps-list .item .bottom {
    text-align: center;
  }
  .home .press-box .press-title {
    font-size: 40px;
    padding: 0;
  }
  .home .press-box .press-list .item {
    width: 335px;
    margin: 20px 0 0 0;
  }
}

.img-box-web::-webkit-scrollbar {
  height: 10px;
}

.img-box-web::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #535353;
}

.img-box-web::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #edf5ea;
}/*# sourceMappingURL=home.css.map */