html, body {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

.section-more .more-list, .section-secure .data-text, .section-secure .data-list, .section-reason .list, .column, .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-secure .data-text, .section-secure .data-list, .section-reason .list, .column, .button {
  justify-content: center;
}

.button {
  color: white;
  font-size: 14px;
  line-height: 17px;
  width: 160px;
  height: 40px;
  background: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background: linear-gradient(94.54deg, #FF994F 0%, #E23B8C 100%);
}

.text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  border: 2px solid #172026;
  border-radius: 20px;
  color: #172026;
}

.text-button:hover {
  color: white;
  background-color: #172026;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.back-gray {
  background-color: #f9f9f9;
}

.back-gray-light {
  background-color: #FAFAFA;
}

.back-black {
  color: white;
  background-color: black;
}

.back-black-gray {
  color: white;
  background-color: #172026;
}

@keyframes change {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-main .container {
  max-width: 620px;
  height: 620px;
  position: relative;
  margin: 190px auto 0 auto;
  cursor: pointer;
}
.section-main .container .main-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section-main .container .main-item:last-child {
  width: 890px;
  margin-left: -135px;
}
.section-main .container .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.section-main .container .text {
  position: absolute;
  top: 230px;
  left: 0;
  width: 100%;
  height: 100px;
}
.section-main .container p {
  max-width: 890px;
  font-size: 16px;
  color: #555;
  line-height: 30px;
  position: absolute;
  top: 406px;
}
.section-main .container:hover .image {
  animation: change 20s linear infinite;
}
.section-main .button {
  margin: 0 auto 150px auto;
}

.h2-underline {
  position: relative;
  padding-top: 88px;
  text-align: center;
}

.h2-underline:after {
  content: " ";
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 10px;
  background: linear-gradient(147deg, #F97435 0%, #EE4454 100%);
}

.section-features h2 {
  text-align: center;
}
.section-features ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 90px 0 140px 0;
}
.section-features li {
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
  color: white;
  width: 410px;
  height: 300px;
  border-radius: 30px;
  padding: 180px 0 0 40px;
  position: relative;
}
.section-features li:hover {
  background: #272b34 !important;
  cursor: pointer;
}
.section-features li:before, .section-features li:after {
  content: " ";
  position: absolute;
  background: url("") 0 0 no-repeat;
  background-size: 100% 100%;
}
.section-features li:before {
  width: 60px;
  height: 70px;
  top: 58px;
  left: 44px;
  border-radius: 0;
}
.section-features li:after {
  width: 120px;
  height: 120px;
  top: 30px;
  right: 40px;
}
.section-features li:nth-child(1) {
  background: linear-gradient(226deg, #FF91CC 0%, #FF589D 100%);
  box-shadow: 8px 10px 10px 0px rgba(255, 130, 192, 0.19);
}
.section-features li:nth-child(1):before {
  background-image: url("../image/index/01.png");
}
.section-features li:nth-child(1):after {
  background-image: url("../image/index/icon-1.png");
}
.section-features li:nth-child(2) {
  background: linear-gradient(225deg, #FF936A 0%, #FE6440 100%);
  box-shadow: 8px 10px 10px 0px rgba(255, 128, 89, 0.16);
  margin: 0 12px;
}
.section-features li:nth-child(2):before {
  background-image: url("../image/index/02.png");
}
.section-features li:nth-child(2):after {
  background-image: url("../image/index/icon-2.png");
}
.section-features li:nth-child(3) {
  background: linear-gradient(225deg, #FFBB5D 0%, #FB812B 100%);
  box-shadow: 8px 10px 10px 0px rgba(255, 202, 126, 0.27);
}
.section-features li:nth-child(3):before {
  background-image: url("../image/index/03.png");
}
.section-features li:nth-child(3):after {
  background-image: url("../image/index/icon-3.png");
}

.section-product {
  padding-bottom: 120px;
}
.section-product h2 {
  margin-top: 36px;
  margin-bottom: 96px;
}
.section-product .content {
  padding-top: 0;
}
.section-product .product-content {
  font-family: "PingFangSC-Medium, PingFang SC";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-product .product-left {
  max-width: 620px;
}
.section-product p {
  color: black;
  font-size: 22px;
  line-height: 33px;
  font-family: sans-serif;
  font-weight: 500;
  padding-left: 30px;
  background: url("../image/index/clover-icon.png") 0 5px no-repeat;
  background-size: 18px 18px;
}
.section-product p:nth-of-type(1) {
  margin-bottom: 46px;
}
.section-product p:nth-of-type(2) {
  margin-bottom: 20px;
}
.section-product ol {
  max-width: 580px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
  line-height: 30px;
}

.token-section {
  background-color: #282A34;
  padding-bottom: 96px;
}
.token-section h2 {
  color: white;
  margin-bottom: 160px;
}
.token-section .token-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "PingFangSC-Regular, PingFang SC";
  font-weight: 400;
  position: relative;
}
.token-section .token-content .c-1 {
  width: 200px;
}
.token-section .token-content .c-1 p {
  width: 200px;
}
.token-section .token-content .c-1 p:first-child {
  top: 0;
}
.token-section .token-content .c-1 p:last-child {
  bottom: 0;
}
.token-section .token-content .c-2 {
  margin: 0 16px;
}
.token-section .token-content .c-3 {
  width: 270px;
}
.token-section .token-content .c-3 p {
  width: 270px;
}
.token-section .token-content .c-3 p:first-child {
  top: -20px;
}
.token-section .token-content .c-3 p:nth-child(2) {
  top: 100px;
}
.token-section .token-content .c-3 p:last-child {
  bottom: 0;
}
.token-section .token-content img {
  width: 800px;
}
.token-section .token-content p {
  position: absolute;
  font-size: 20px;
  line-height: 33px;
  padding-top: 20px;
  background: url("../image/index/clover-icon.png") 0 0 no-repeat;
  background-size: 18px 18px;
  cursor: pointer;
}
.token-section .token-content p:hover {
  color: #fa6400;
}

.section-why h2 {
  margin-bottom: 30px;
}
.section-why .why-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-why .why-content .item {
  width: 640px;
  height: 600px;
}
.section-why .why-content img {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.section-why .why-content img:hover {
  transform: scale(1.1);
}
.section-why .why-content .item:first-child img {
  width: 258px;
  height: 200px;
  margin-top: 68px;
}
.section-why .why-content .item:last-child img {
  width: 200px;
  height: 220px;
  margin-top: 50px;
}
.section-why .why-content dl {
  max-width: 400px;
  font-family: "PingFang-SC-Medium, PingFang-SC";
  margin: 50px auto 0 auto;
  padding-left: 36px;
  background: url("../image/index/clover-icon.png") 0 5px no-repeat;
  background-size: 18px 18px;
}
.section-why .why-content dt {
  font-size: 24px;
  font-weight: 500;
  color: #1D1D1D;
  line-height: 28px;
  margin-bottom: 20px;
}
.section-why .why-content dd {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  line-height: 30px;
}

.section-ecosystem {
  color: white;
  background: linear-gradient(104.89deg, #ED4454 19.79%, #FB822A 100%);
  padding: 60px 0;
}
.section-ecosystem h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.section-ecosystem .ecosystem {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.section-ecosystem li {
  width: 200px;
  height: 80px;
}
.section-ecosystem li a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("") center center no-repeat;
}
.section-ecosystem li.logo-bithumb a {
  background-image: url("../image/partners/bithumb-global-white.svg");
}
.section-ecosystem li.logo-bithumb a:hover {
  background-image: url("../image/partners/bithumb-global-hover.svg");
}
.section-ecosystem li.logo-polkadot a {
  background-image: url("../image/partners/polkadot-white.svg");
}
.section-ecosystem li.logo-polkadot a:hover {
  background-image: url("../image/partners/polkadot-hover.svg");
}
.section-ecosystem li.logo-web3 a {
  background-image: url("../image/partners/web3-white.svg");
}
.section-ecosystem li.logo-web3 a:hover {
  background-image: url("../image/partners/web3-hover.svg");
}
.section-ecosystem li.logo-parity a {
  background-image: url("../image/partners/parity-white.svg");
}
.section-ecosystem li.logo-parity a:hover {
  background-image: url("../image/partners/parity-hover.svg");
}
.section-ecosystem li.logo-crust a {
  background-image: url("../image/partners/crust-white.svg");
}
.section-ecosystem li.logo-crust a:hover {
  background-image: url("../image/partners/crust-hover.svg");
}
.section-ecosystem li.logo-bifrost a {
  background-image: url("../image/partners/bifrost-white.svg");
}
.section-ecosystem li.logo-bifrost a:hover {
  background-image: url("../image/partners/bifrost-hover.svg");
}
.section-ecosystem li.logo-stafi a {
  background-image: url("../image/partners/stafi-white.svg");
}
.section-ecosystem li.logo-stafi a:hover {
  background-image: url("../image/partners/stafi-hover.svg");
}
.section-ecosystem li.logo-kusama a {
  background-image: url("../image/partners/kusama-white.svg");
}
.section-ecosystem li.logo-kusama a:hover {
  background-image: url("../image/partners/kusama-hover.svg");
}
.section-ecosystem li.logo-plasm a {
  background-image: url("../image/partners/plasm-white.svg");
}
.section-ecosystem li.logo-plasm a:hover {
  background-image: url("../image/partners/plasm-hover.svg");
}
.section-ecosystem li.logo-chainx a {
  background-image: url("../image/partners/chainx-white.svg");
}
.section-ecosystem li.logo-chainx a:hover {
  background-image: url("../image/partners/chainx-hover.svg");
}
.section-ecosystem li.logo-acala a {
  background-image: url("../image/partners/acala-white.svg");
}
.section-ecosystem li.logo-acala a:hover {
  background-image: url("../image/partners/acala-hover.svg");
}
.section-ecosystem li.logo-substrate a {
  background-image: url("../image/partners/substrate-white.svg");
}
.section-ecosystem li.logo-substrate a:hover {
  background-image: url("../image/partners/substrate-hover.svg");
}
.section-ecosystem li.logo-phala a {
  background-image: url("../image/partners/phala-white.svg");
}
.section-ecosystem li.logo-phala a:hover {
  background-image: url("../image/partners/phala-hover.svg");
}

.section-reason {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 900px;
}
.section-reason h2 {
  text-align: center;
  margin-bottom: 40px;
}
.section-reason .list {
  justify-content: center;
  flex-wrap: wrap;
}
.section-reason .list dl {
  width: 426px;
  height: 346px;
  padding: 160px 48px 70px 48px;
  background: url() center 56px no-repeat;
  text-align: center;
}
.section-reason .list dl:hover {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(65, 30, 34, 0.05);
  cursor: pointer;
}
.section-reason .list dt {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.section-reason .list dd {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.section-reason .list dl:nth-child(1) {
  background-image: url("../image/list-1.svg");
}
.section-reason .list dl:nth-child(2) {
  background-image: url("../image/list-2.svg");
}
.section-reason .list dl:nth-child(3) {
  background-image: url("../image/list-3.svg");
}
.section-reason .list dl:nth-child(4) {
  background-image: url("../image/list-4.svg");
}
.section-reason .list dl:nth-child(5) {
  background-image: url("../image/list-5.svg");
}
.section-reason .list dl:nth-child(6) {
  background-image: url("../image/list-6.svg");
}

.section-secure {
  padding: 120px 0 130px 0;
}
.section-secure h2 {
  text-align: center;
  margin-bottom: 54px;
}
.section-secure .data-list {
  margin-bottom: 76px;
}
.section-secure .data-list li {
  width: 25%;
  text-align: center;
}
.section-secure .data-list h4 {
  color: #E11B7B;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 18px;
}
.section-secure img {
  margin: 0 auto;
}
.section-secure .data-text {
  padding-top: 20px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}
.section-secure .data-text li {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
}
.section-secure .data-text img {
  margin: 0 20px 0 0;
}

.section-service {
  margin-left: 160px;
}
.section-service dl {
  margin-bottom: 60px;
}
.section-service dt {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #FB822A;
}
.section-service dd {
  font-size: 14px;
  line-height: 17px;
  color: white;
}
.section-service dl:nth-child(3) dt, .section-service dl:nth-child(5) dt {
  color: #E11B7B;
}
.section-service dl:nth-child(4) dt {
  background-image: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-productor {
  padding-top: 120px;
}

.section-more {
  width: 100%;
  min-height: 600px;
  background: linear-gradient(87.88deg, #FB822A -8.14%, #E71762 95.01%);
  color: white;
}
.section-more .content {
  padding-top: 100px;
  padding-bottom: 130px;
  position: relative;
}
.section-more .content .back {
  position: absolute;
  top: -30px;
  right: 0;
  width: 520px;
  height: 460px;
  background: url("../image/union.svg") right top no-repeat;
}
.section-more h2 {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}
.section-more .more-list {
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.section-more .more-list dl {
  width: 50%;
  background: url("..") 0 0 no-repeat;
  padding: 0 20px 0 110px;
  min-height: 110px;
  margin-bottom: 30px;
}
.section-more .more-list dl:nth-child(1) {
  background-image: url("../image/item-1.svg");
}
.section-more .more-list dl:nth-child(2) {
  background-image: url("../image/item-2.svg");
}
.section-more .more-list dl:nth-child(3) {
  background-image: url("../image/item-3.svg");
}
.section-more .more-list dl:nth-child(4) {
  background-image: url("../image/item-4.svg");
}
.section-more .more-list dl:nth-child(5) {
  background-image: url("../image/item-5.svg");
}
.section-more .more-list dl:nth-child(6) {
  background-image: url("../image/item-6.svg");
}
.section-more .more-list dt {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.section-more .more-list dd {
  font-size: 16px;
  line-height: 24px;
}

.back-map {
  background: #172026 url("../image/back-logo.svg") center 200px no-repeat;
}

.section-roadmap {
  padding: 140px 0 200px 0;
}
.section-roadmap h2 {
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
}
.section-roadmap .roadmap {
  overflow: hidden;
  margin-left: -20px;
}
.section-roadmap .control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.section-roadmap .control li {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05) url() center center no-repeat;
  background-size: 100% 100%;
  margin-left: 20px;
}
.section-roadmap .control li.left-control {
  background-image: url("../image/arr-left-disable.svg");
}
.section-roadmap .control li.right-control {
  background-image: url("../image/arr-right-disable.svg");
}
.section-roadmap .control li.left-control.enable {
  cursor: pointer;
  background-image: url("../image/arr-left.svg");
}
.section-roadmap .control li.right-control.enable {
  cursor: pointer;
  background-image: url("../image/arr-right.svg");
}
.section-roadmap .control li.left-control.enable:hover {
  background-image: url("../image/arr-left-hover.svg");
}
.section-roadmap .control li.right-control.enable:hover {
  background-image: url("../image/arr-right-hover.svg");
}
.section-roadmap .road-item {
  display: flex;
  white-space: nowrap;
  padding: 20px;
}
.section-roadmap dl {
  width: 240px;
  height: 300px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  flex: 0 0 auto;
}
.section-roadmap dt {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 44px;
  background: url("../image/back-path.svg") 0 0 no-repeat;
  margin-bottom: 40px;
}
.section-roadmap dd {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  white-space: normal;
  word-break: break-word;
}
.section-roadmap dd.type {
  max-width: 210px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 30px;
}

.section-news {
  color: white;
  padding-top: 140px;
  padding-bottom: 160px;
}
.section-news .column {
  display: flex;
  justify-content: space-between;
}
.section-news .left, .section-news .right {
  width: 50%;
}
.section-news h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 40px;
}
.section-news p {
  font-size: 16px;
  line-height: 26px;
}

.section-governed {
  padding-top: 120px;
  padding-bottom: 40px;
  background: url("../image/lines.svg") 0 140px no-repeat;
}
.section-governed h2 {
  text-align: center;
  margin-bottom: 40px;
}
.section-governed p {
  text-align: center;
  max-width: 610px;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto 30px auto;
}
.section-governed .govern {
  display: flex;
  align-items: stretch;
  margin-bottom: 40px;
  padding-top: 30px;
}
.section-governed .govern dl {
  width: 25%;
  min-height: 340px;
  background-color: #1F2B32;
  margin-right: 20px;
  padding: 40px 20px;
}
.section-governed .govern dt {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.section-governed .govern dd {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.section-governed .govern .govern-list {
  width: 50%;
}
.section-governed .govern .govern-list dl {
  width: 100%;
  min-height: calc(50% - 10px);
  margin-bottom: 20px;
}

.section-partners p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 88px;
}
.section-partners .partner {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-partners .partner li {
  width: 150px;
  height: 38px;
  cursor: pointer;
  width: 25%;
  margin-bottom: 68px;
}
.section-partners .partner li a {
  display: block;
  width: 100%;
  height: 100%;
  background: url() center center no-repeat;
}
.section-partners .partner li:nth-child(4n+1) {
  background-position: left center;
}
.section-partners .partner li:nth-child(4n) {
  background-position: right center;
}
.section-partners .partner li.logo-bithumb a {
  background-image: url("../image/partners/bithumb.svg");
}
.section-partners .partner li.logo-bithumb a:hover {
  background-image: url("../image/partners/bithumb-hover.svg");
}
.section-partners .partner li.logo-polkadot a {
  background-image: url("../image/partners/polkadot.svg");
}
.section-partners .partner li.logo-polkadot a:hover {
  background-image: url("../image/partners/polkadot-hover.svg");
}
.section-partners .partner li.logo-web3 a {
  background-image: url("../image/partners/web3.svg");
}
.section-partners .partner li.logo-web3 a:hover {
  background-image: url("../image/partners/web3-hover.svg");
}
.section-partners .partner li.logo-parity a {
  background-image: url("../image/partners/parity.svg");
}
.section-partners .partner li.logo-parity a:hover {
  background-image: url("../image/partners/parity-hover.svg");
}
.section-partners .partner li.logo-crust a {
  background-image: url("../image/partners/crust.svg");
}
.section-partners .partner li.logo-crust a:hover {
  background-image: url("../image/partners/crust-hover.svg");
}
.section-partners .partner li.logo-bifrost a {
  background-image: url("../image/partners/bifrost.svg");
}
.section-partners .partner li.logo-bifrost a:hover {
  background-image: url("../image/partners/bifrost-hover.svg");
}
.section-partners .partner li.logo-stafi a {
  background-image: url("../image/partners/stafi.svg");
}
.section-partners .partner li.logo-stafi a:hover {
  background-image: url("../image/partners/stafi-hover.svg");
}
.section-partners .partner li.logo-kusama a {
  background-image: url("../image/partners/kusama.svg");
}
.section-partners .partner li.logo-kusama a:hover {
  background-image: url("../image/partners/kusama-hover.svg");
}
.section-partners .partner li.logo-plasm a {
  background-image: url("../image/partners/plasm.svg");
}
.section-partners .partner li.logo-plasm a:hover {
  background-image: url("../image/partners/plasm-hover.svg");
}
.section-partners .partner li.logo-chainx a {
  background-image: url("../image/partners/chainx.svg");
}
.section-partners .partner li.logo-chainx a:hover {
  background-image: url("../image/partners/chainx-hover.svg");
}
.section-partners .partner li.logo-acala a {
  background-image: url("../image/partners/acala.svg");
}
.section-partners .partner li.logo-acala a:hover {
  background-image: url("../image/partners/acala-hover.svg");
}
.section-partners .partner li.logo-substrate a {
  background-image: url("../image/partners/substrate.svg");
}
.section-partners .partner li.logo-substrate a:hover {
  background-image: url("../image/partners/substrate-hover.svg");
}
.section-partners .partner li.logo-phala a {
  background-image: url("../image/partners/phala.svg");
}
.section-partners .partner li.logo-phala a:hover {
  background-image: url("../image/partners/phala-hover.svg");
}

.section-about {
  background: url("../image/more-background.svg") center center no-repeat;
  padding: 180px 0 80px 0;
  text-align: center;
}
.section-about h2 {
  max-width: 720px;
  margin: 0 auto 40px auto;
}
.section-about p {
  max-width: 750px;
  margin: 0 auto;
}

.section-team h3 {
  text-align: center;
  font-size: 32px;
  line-height: 56px;
  font-weight: bold;
  width: 380px;
  margin: 62px auto;
  position: relative;
}
.section-team h3:before, .section-team h3:after {
  content: " ";
  position: absolute;
  width: 450px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 30px;
}
.section-team h3:before {
  right: 50%;
  margin-right: 225px;
}
.section-team h3:after {
  left: 50%;
  margin-left: 225px;
}
.section-team div {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section-team .leadership a {
  width: 410px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}
.section-team .leadership a:after {
  content: " ";
  position: absolute;
  top: 170px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background: url("../image/team/in-dark.svg") 0 0 no-repeat;
}
.section-team .leadership img {
  margin: 30px auto 50px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.section-team .leadership a:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.section-team .engineer dl {
  text-align: center;
  width: 240px;
  height: 300px;
}
.section-team .engineer dl:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.section-team .engineer dt img {
  margin: 40px auto 30px auto;
}
.section-team .engineer dd:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-team .engineer dd:last-child a {
  margin: 10px;
}
.section-team .advisory {
  margin-bottom: 20px;
}
.section-team .advisory dl {
  text-align: center;
  width: 240px;
  height: 260px;
}
.section-team .advisory img {
  margin: 40px auto 30px auto;
}

.section-join {
  min-height: 600px;
  background: url("../image/circle-pair.svg") 100% 80px no-repeat, url("../image/circle-down.svg") 0 0/100% 100% no-repeat;
  padding: 220px 0 110px 0;
}
.section-join h2 {
  max-width: 610px;
  margin-bottom: 40px;
}
.section-join p {
  max-width: 610px;
}

.section-office {
  padding: 80px 0 100px 0;
}
.section-office h2 {
  text-align: center;
}
.section-office .office {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.section-office dl {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  margin-top: 60px;
}
.section-office dt {
  margin-top: 24px;
  font-size: 24px;
  text-align: center;
}
.section-office dd {
  max-width: 620px;
}

.section-position {
  padding: 80px 0 100px 0;
}
.section-position h2 {
  text-align: center;
}
.section-position .position {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.section-position .position li {
  width: 620px;
  height: 120px;
  line-height: 120px;
  padding: 0 38px;
  border: 1px solid #172026;
  font-weight: 500;
  font-size: 24px;
  border-radius: 10px;
  margin: 10px 20px;
  background: url("../image/position-right.svg") right 20px center no-repeat;
}
.section-position .position li:hover {
  background-color: #172026;
  color: white;
  background-image: url("../image/position-right-hover.svg");
}
.section-position .position li:nth-child(2n) {
  margin-right: -20px;
}
.section-position .position li:nth-child(2n+1) {
  margin-left: 20px;
}
.section-position .position li a {
  display: block;
  width: 100%;
  height: 100%;
}
.section-position .position li.more {
  border: none;
  text-align: center;
  background: none;
  font-weight: bold;
}
.section-position .position li.more:hover {
  color: #172026;
}

.about-main {
  height: 400px;
  background: url("../image/about-main.svg") center center no-repeat;
}
.about-main .content {
  color: white;
  text-align: center;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.about-main .content h2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  padding-top: 90px;
}
.about-main .content p {
  font-size: 60px;
  line-height: 72px;
}

.about-trade-protocol {
  padding: 40px 0 0 0;
}
.about-trade-protocol .left {
  width: 50%;
}
.about-trade-protocol dl {
  padding-left: 52px;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 460px;
}
.about-trade-protocol dt {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  color: black;
}
.about-trade-protocol dd {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}
.about-trade-protocol dl:nth-child(1) {
  background-image: url("../image/trade-1.svg");
}
.about-trade-protocol dl:nth-child(2) {
  background-image: url("../image/trade-2.svg");
}

.about-money-market {
  padding: 40px 0;
}
.about-money-market .right {
  width: 460px;
  margin-right: -140px;
  margin-left: 140px;
}
.about-money-market dl {
  padding-right: 54px;
  background-position: right 0;
  background-repeat: no-repeat;
  width: 400px;
  text-align: right;
}
.about-money-market dl:nth-child(1) {
  background-image: url("../image/market-1.svg");
}
.about-money-market dl:nth-child(2) {
  background-image: url("../image/market-2.svg");
}
.about-money-market dt {
  font-family: Inter;
  color: black;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.about-money-market dd {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.about-staking-liquidity {
  padding: 40px 0;
}
.about-staking-liquidity .left {
  width: 50%;
}
.about-staking-liquidity dl {
  padding-left: 52px;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 460px;
}
.about-staking-liquidity dt {
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  color: black;
}
.about-staking-liquidity dd {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}
.about-staking-liquidity dl:nth-child(1) {
  background-image: url("../image/staking-1.svg");
}
.about-staking-liquidity dl:nth-child(2) {
  background-image: url("../image/staking-2.svg");
}

.about-storage {
  padding: 40px 0;
}
.about-storage .right {
  width: 460px;
  margin-right: -140px;
  margin-left: 140px;
}
.about-storage dl {
  padding-right: 54px;
  background-position: right 0;
  background-repeat: no-repeat;
  width: 400px;
  text-align: right;
}
.about-storage dl:nth-child(1) {
  background-image: url("../image/storage-1.svg");
}
.about-storage dt {
  font-family: Inter;
  color: black;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.about-storage dd {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.section-contain {
  background: url("../image/what-contain.svg") right 10px no-repeat;
  min-height: 530px;
  padding-left: 80px;
  padding-bottom: 120px;
  margin-bottom: 120px;
}
.section-contain h2 {
  font-family: Inter;
  margin-top: 110px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 86px;
}
.section-contain dl {
  width: 100%;
  max-width: 540px;
  background: url("") 0 0 no-repeat;
  margin-bottom: 21px;
  padding-left: 58px;
}
.section-contain dl:nth-of-type(1) {
  background-image: url("../image/contain-1.svg");
}
.section-contain dl:nth-of-type(2) {
  background-image: url("../image/contain-2.svg");
}
.section-contain dl:nth-of-type(3) {
  background-image: url("../image/contain-3.svg");
}
.section-contain dl:nth-of-type(4) {
  background-image: url("../image/contain-4.svg");
}
.section-contain dt {
  font-family: Inter;
  color: #FB822A;
  font-size: 20px;
  margin-bottom: 7px;
}
.section-contain dd {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 17px;
}

@media only screen and (max-width: 1280px) {
  .content {
    padding: 70px 20px;
  }

  .about-main .content {
    padding-top: 20px;
  }

  .section-main .container {
    margin-top: 30px;
  }
  .section-main .container .main-item:last-child {
    width: 100%;
    margin-left: 0;
  }
  .section-main .button {
    margin-bottom: 0;
  }

  .section-contain {
    padding-bottom: 120px;
    background-position: right 160px;
  }
}
@media only screen and (max-width: 1100px) {
  .section-contain {
    background-position: center 120px;
    padding: 0 20px;
    background-size: auto 280px;
  }
  .section-contain h2 {
    margin-top: 64px;
    font-size: 30px;
    margin-bottom: 400px;
  }
  .section-contain dl:last-child {
    margin-bottom: 60px;
  }

  .section-product .product-content {
    flex-direction: column-reverse;
  }
  .section-product .product-content img {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .h2-underline {
    padding-top: 0;
    margin-bottom: 30px !important;
  }

  .column {
    flex-direction: column;
  }
  .column .left, .column .right {
    width: 100%;
  }
  .column .right {
    padding-top: 20px;
  }

  .section-contain dl {
    padding-left: 0;
    background-image: none !important;
  }

  .section-product {
    padding-bottom: 50px;
  }
  .section-product .content {
    padding-bottom: 0;
  }
  .section-product .product-content p {
    font-size: 18px;
    line-height: 25px;
  }
  .section-product .product-content ol {
    line-height: 24px;
  }

  .section-features ul {
    width: 100%;
    max-width: 410px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .section-features li {
    width: 100%;
  }
  .section-features li:nth-child(2) {
    margin: 40px 0;
  }

  .token-section .token-content {
    align-items: flex-start;
    flex-direction: column;
  }
  .token-section .token-content .c-1, .token-section .token-content .c-3 {
    width: 100%;
  }
  .token-section .token-content p {
    text-align: left;
    width: 100% !important;
    position: static;
    padding-top: 0;
    padding-left: 30px;
    background-position: 0 6px;
  }

  .section-why .why-content {
    flex-direction: column;
  }
  .section-why .why-content .item {
    height: auto;
  }
  .section-why .why-content .item:last-child img {
    margin-top: 50px;
  }

  #ecosystem {
    padding-top: 0;
  }

  .section-ecosystem .content {
    padding-top: 0;
  }
  .section-ecosystem h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .section-ecosystem .ecosystem {
    width: 100%;
    justify-content: space-between;
  }
  .section-ecosystem li {
    width: 150px;
    height: 62px;
  }
  .section-ecosystem li a {
    background-size: 70% 70%;
  }

  .section-reason .list dl {
    background-position: center 0;
    padding: 80px 0 40px 0;
    text-align: center;
    height: auto;
  }

  .section-secure {
    padding-top: 140px;
  }
  .section-secure h2 {
    margin-bottom: 40px;
  }
  .section-secure .data-list {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .section-secure .data-list li:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-secure .data-list li {
    width: 50%;
  }
  .section-secure .data-list h4 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .section-secure .data-list p {
    font-size: 14px;
    line-height: 24px;
  }

  .section-more .content {
    padding: 70px 0;
  }
  .section-more .content .back {
    background-size: 50% 50%;
    margin-top: -40px;
  }
  .section-more h2 {
    text-align: left;
    padding-left: 30px;
  }
  .section-more .more-list {
    flex-direction: column;
    padding: 0 20px;
  }
  .section-more .more-list dl {
    width: 100%;
    padding-top: 0;
    margin-bottom: 20px;
    padding-left: 74px;
    background-size: 42px 42px;
  }
  .section-more .more-list dt {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .section-more .more-list dd {
    font-size: 16px;
    line-height: 24px;
  }

  .section-governed {
    background-position: -80px 135px;
  }
  .section-governed h2 {
    margin-bottom: 20px;
  }
  .section-governed p {
    margin-bottom: 15px;
  }
  .section-governed .govern {
    margin-top: 25px;
    flex-direction: column;
  }
  .section-governed .govern dl {
    width: 100%;
    margin: 0 0 10px 0;
    height: auto;
  }
  .section-governed .govern .govern-list {
    width: 100%;
  }

  .back-map {
    background-image: none;
  }

  .section-roadmap h2 {
    text-align: left;
    font-size: 28px;
    line-height: 36px;
  }
  .section-roadmap .control li {
    width: 36px;
    height: 36px;
    margin-left: 12px;
  }

  .section-news {
    padding-top: 60px;
  }
  .section-news h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .section-partners p {
    margin-bottom: 40px;
  }
  .section-partners .partner li {
    width: 50%;
    margin-bottom: 40px;
    background-position: center center !important;
  }
  .section-partners .partner li.logo-polkadot {
    background-size: 80% 73%;
  }
  .section-partners .partner li.logo-web3 {
    background-size: 79% 78%;
  }
  .section-partners .partner li.logo-parity {
    background-size: 79% 79%;
  }
  .section-partners .partner li.logo-crust {
    background-size: 71% 72%;
  }
  .section-partners .partner li.logo-bifrost {
    background-size: 71% 71%;
  }
  .section-partners .partner li.logo-stafi {
    background-size: 71% 72%;
  }
  .section-partners .partner li.logo-plasm {
    background-size: 71% 71%;
  }
  .section-partners .partner li.logo-chainx {
    background-size: 62% 62%;
  }
  .section-partners .partner li.logo-acala {
    background-size: 80% 80%;
  }

  .section-secure h2 {
    margin-bottom: 40px;
  }
  .section-secure .data-list {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .section-secure .data-list li:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-secure .data-list li {
    width: 50%;
  }
  .section-secure .data-list h4 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .section-secure .data-list p {
    font-size: 14px;
    line-height: 24px;
  }
  .section-secure .data-text {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  .section-secure .data-text li {
    flex: 1;
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 0;
  }

  .about-main {
    height: 300px;
  }
  .about-main .content {
    background-position: 100% 64px;
  }
  .about-main .content h2 {
    font-size: 36px;
    line-height: 36px;
    padding-top: 60px;
  }
  .about-main .content p {
    font-size: 24px;
    line-height: 30px;
  }

  .about-trade-protocol img {
    margin-bottom: 20px;
  }
  .about-trade-protocol dl {
    background-image: none !important;
    padding-left: 0;
    margin-bottom: 40px;
    width: 100%;
  }
  .about-trade-protocol dt {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .about-money-market, .about-storage {
    flex-direction: column-reverse;
  }
  .about-money-market .right, .about-storage .right {
    margin: 0;
    margin-bottom: 20px;
  }
  .about-money-market dl, .about-storage dl {
    background-image: none !important;
    padding-right: 0;
    width: 100%;
  }

  .animation {
    height: 340px !important;
    background: url("../image/animation/context.svg") 0 0 no-repeat;
  }
  .animation div {
    display: none;
  }

  .section-service {
    margin-left: 0;
  }
  .section-service dl {
    margin-bottom: 30px;
  }
  .section-service dt {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .section-service dd {
    font-size: 14px;
    line-height: 17px;
  }

  .section-join {
    background: url(../image/circle-pair.svg) center 0/200px 240px no-repeat, url(../image/circle-down.svg) 0 -220px/100% 100% no-repeat;
    padding-top: 290px;
  }

  .section-service dl {
    animation: none !important;
  }

  .about-staking-liquidity .left {
    margin-bottom: 20px;
  }
  .about-staking-liquidity dl {
    background-image: none !important;
    padding-left: 0;
    margin-bottom: 40px;
    width: 100%;
  }
  .about-staking-liquidity dt {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .button {
    margin: 0 auto;
  }

  .section-about {
    padding: 160px 30px 30px 30px;
    background-image: url("../image/more-background-small.svg");
    background-position: left 96px;
  }

  .section-office dl {
    width: 100%;
  }

  .section-position .position li {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 !important;
  }
}

/*# sourceMappingURL=info.css.map */
