:root.scroll-page {
  --background: #edf5ea;
}

:root {
  --background: transparent;
}

@font-face {
  font-family: Circular-Std;
  src: url("../font/CircularStd-Bold.ttf");
}
@font-face {
  font-family: Circular-Std-Book;
  src: url("../font/CircularStd-Book.otf");
}
@font-face {
  font-family: Space-Mono;
  src: url("../font/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: IBM-Plex-Mono;
  src: url("../font/IBMPlexMono-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../font/Inter-ExtraBold.otf");
}
body {
  color: #1d2d31;
  font-family: IBM-Plex-Mono;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #edf5ea;
  position: relative;
}
body img.cursor {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -505px;
  z-index: 1;
  max-width: inherit;
}

*::-moz-selection {
  color: #48fba5;
  background-color: #1d2d31;
}

*::selection {
  color: #48fba5;
  background-color: #1d2d31;
}

body.features img.cursor {
  margin-left: -380px;
}

.cursorNormal {
  position: absolute;
  z-index: 2;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h3 {
  font-family: Inter;
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  color: #000;
  margin: 80px auto 40px auto;
  max-width: 280px;
}

h4 {
  font-family: Inter;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.button {
  font-family: Circular-Std;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid #000;
  width: 190px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 62px;
  background: url("../image/icon/download.svg") 24px center no-repeat;
}

.button:hover {
  opacity: 0.6;
  border-color: rgba(0, 0, 0, 0.6);
}

.h1 {
  text-align: center;
  font-family: Circular-Std;
  font-weight: bold;
  font-size: 72px;
  line-height: 92px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.head {
  width: 100%;
  top: 0;
  left: 0;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  position: fixed;
  z-index: 9;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.nav li {
  line-height: 88px;
  margin-left: 88px;
  opacity: 1;
  border-bottom: 1px solid transparent;
}

.side-bar {
  width: 32px;
  height: 16px;
  background: url("../image/menu/menu.svg") 0 0 no-repeat;
  cursor: pointer;
  display: none;
}

.side-screen {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  background-size: 1000px;
  display: none;
}
.side-screen .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.side-screen .logo-text {
  background: url("../image/clover/logo-text.svg") 0 0 no-repeat;
  width: 133px;
  height: 40px;
}
.side-screen .close {
  background: url("../image/menu/close.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.side-screen .side-nav {
  font-family: Circular-Std;
  padding-top: 120px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1d2d31;
}
.side-screen .side-nav li {
  margin-bottom: 64px;
  width: 100%;
  text-align: center;
}
.side-screen .social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-screen .social li {
  margin: 0 20px;
}
.side-screen .copy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 70px;
  line-height: 70px;
  color: #1d2d31;
  opacity: 0.4;
}

.social li {
  opacity: 0.2;
}
.social li:hover {
  opacity: 1;
}

.content {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
}

.section-what {
  padding-bottom: 200px;
}
.section-what em {
  margin-top: 180px;
}
.section-what h1 {
  max-width: 750px;
  margin-top: 30px;
}
.section-what .button {
  margin-top: 56px;
}

.section-vision {
  padding-bottom: 160px;
}
.section-vision ul {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-vision ul li {
  width: 200px;
  margin: 0 125px;
  background: url("") center 0 no-repeat;
}
.section-vision ul li:hover {
  transform: translateY(-60px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}
.section-vision ul li:nth-child(1n) {
  width: 180px;
  margin-top: 80px;
  padding-top: 246px;
  background-image: url("../image/vision/benefi.svg");
}
.section-vision ul li:nth-child(2n) {
  padding-top: 226px;
  background-image: url("../image/vision/app.svg");
}
.section-vision ul li:nth-child(3n) {
  width: 220px;
  margin-top: 100px;
  padding-top: 230px;
  background-image: url("../image/vision/blockchain.svg");
}

.platform {
  padding-bottom: 90px;
}
.platform h2 {
  max-width: 550px;
  margin-top: 36px;
}
.platform .platform-content {
  margin-top: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.platform dl.platform-item {
  max-width: 500px;
  padding: 140px 96px 0 96px;
  margin: 12px;
}
.platform dl.platform-item dt {
  font-family: Circular-Std;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  margin-bottom: 16px;
}
.platform dl.platform-item dd:nth-of-type(1) {
  font-family: Circular-Std-Book;
  opacity: 0.4;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}
.platform dl.platform-item ul {
  font-size: 15px;
}
.platform dl:hover {
  transform: translateY(-60px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}
.platform dl:nth-child(1) ul,
.platform dl:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.platform dl:nth-child(1) ul li,
.platform dl:nth-child(2) ul li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  height: 105px;
  padding-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: url("") center 20px no-repeat;
}
.platform dl:nth-child(1) ul li:nth-child(1),
.platform dl:nth-child(2) ul li:nth-child(1) {
  border-width: 0 1px 1px 0;
  background-image: url("../image/logo/polkadot.svg");
}
.platform dl:nth-child(1) ul li:nth-child(2),
.platform dl:nth-child(2) ul li:nth-child(2) {
  border-width: 0 0 1px 0;
  background-image: url("../image/logo/ethereum.svg");
}
.platform dl:nth-child(1) ul li:nth-child(3),
.platform dl:nth-child(2) ul li:nth-child(3) {
  border-width: 0 1px 0 0;
  background-image: url("../image/logo/tron.svg");
}
.platform dl:nth-child(1) ul li:nth-child(4),
.platform dl:nth-child(2) ul li:nth-child(4) {
  border-width: 0;
  background-image: url("../image/logo/eos.svg");
}
.platform dl:nth-child(1),
.platform dl:nth-child(2) {
  min-height: 545px;
  margin-bottom: 18px;
}
.platform dl:nth-child(3),
.platform dl:nth-child(4) {
  min-height: 374px;
}
.platform dl:nth-child(1) {
  background: url("../image/icon/1.svg") center 60px no-repeat, linear-gradient(180deg, rgba(32, 34, 37, 0.05) 0%, rgba(32, 34, 37, 0.01) 100%);
}
.platform dl:nth-child(2) {
  background: url("../image/icon/2.svg") center 60px no-repeat, linear-gradient(180deg, rgba(72, 251, 165, 0.5) 0%, rgba(72, 251, 165, 0) 100%);
}
.platform dl:nth-child(2) ul li:nth-child(1) {
  background-image: url("../image/logo/ios.svg");
}
.platform dl:nth-child(2) ul li:nth-child(2) {
  background-image: url("../image/logo/android.svg");
}
.platform dl:nth-child(2) ul li:nth-child(3) {
  background-image: url("../image/logo/linux.svg");
}
.platform dl:nth-child(2) ul li:nth-child(4) {
  background-image: url("../image/logo/window.svg");
}
.platform dl:nth-child(3) {
  background: url("../image/icon/3-1.svg") center 60px no-repeat, linear-gradient(180deg, rgba(72, 251, 165, 0.5) 0%, rgba(72, 251, 165, 0) 100%);
}
.platform dl:nth-child(4) {
  background: url("../image/icon/4.svg") center 60px no-repeat, linear-gradient(180deg, rgba(32, 34, 37, 0.05) 0%, rgba(32, 34, 37, 0.01) 100%);
}

.os-product {
  padding-bottom: 130px;
}
.os-product .op-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.os-product .op-content dl {
  max-width: 513px;
  width: 40%;
  min-height: 317px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 46px 12px 0 12px;
  padding-top: 105px;
  padding-bottom: 30px;
  background: url("") center 50px no-repeat;
}
.os-product .op-content dl:hover {
  transform: translateY(-60px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}
.os-product .op-content dt {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}
.os-product .op-content dt em {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 9px;
}
.os-product .op-content dt span {
  font-size: 16px;
  line-height: 21px;
  opacity: 0.4;
  height: 2em;
}
.os-product .op-content dd {
  font-size: 16px;
  line-height: 24px;
  padding: 0 20px;
}
.os-product .op-content dl:first-child {
  background-image: url("../image/icon/user.svg");
}
.os-product .op-content dl:last-child {
  background-image: url("../image/icon/product.svg");
}

.clv .clv-content {
  margin-top: 100px;
  width: 1040px;
  min-height: 580px;
  background: url("../image/clv/clv.svg") top center no-repeat;
  position: relative;
  font-size: 18px;
  line-height: 24px;
}
.clv .clv-content li {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  margin-top: -0.5em;
}
.clv .clv-content li:hover {
  transform: translateY(-20px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
}
.clv .clv-content li:nth-child(1) {
  width: 200px;
  top: 0;
  left: 0;
}
.clv .clv-content li:nth-child(2) {
  width: 270px;
  top: 0;
  right: 0;
}
.clv .clv-content li:nth-child(3) {
  width: 220px;
  top: 340px;
  left: 0;
}
.clv .clv-content li:nth-child(4) {
  width: 270px;
  top: 340px;
  right: 0;
}
.clv .clv-content li:nth-child(5) {
  width: 390px;
  bottom: 40px;
  left: 50%;
  margin-left: -195px;
}

.ecosystem {
  padding-top: 220px;
  padding-bottom: 140px;
  background: url("../image/background/background-ecosystem.svg") center top no-repeat;
}
.ecosystem .ecosystem-content {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.ecosystem .ecosystem-content li {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin: 0 25px 38px 25px;
}
.ecosystem .ecosystem-content li:hover {
  transform: translateY(-40px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
}
.ecosystem .ecosystem-content a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-roadmap {
  padding-bottom: 64px;
  display: block;
}
.section-roadmap .roadmap {
  padding: 0 60px;
  overflow: hidden;
}
.section-roadmap .control {
  width: 610px;
  height: 154px;
  position: relative;
  margin: -90px auto 0 auto;
}
.section-roadmap .control li {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 46px;
  background: url() 0 0 no-repeat;
}
.section-roadmap .control .left-control {
  left: 0;
  background-image: url("../image/icon/left-light.svg");
}
.section-roadmap .control .left-control.enable {
  background-image: url("../image/icon/left-dark.svg");
}
.section-roadmap .control .right-control {
  right: 0;
  background-image: url("../image/icon/right-light.svg");
}
.section-roadmap .control .right-control.enable {
  background-image: url("../image/icon/right-dark.svg");
}
.section-roadmap .control .enable:hover {
  opacity: 0.6;
}
.section-roadmap .roadmap-item {
  display: flex;
  white-space: nowrap;
  padding: 20px;
}
.section-roadmap .roadmap-item dl {
  width: 290px;
  height: 310px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 24px;
  flex: 0 0 auto;
  padding-top: 32px;
}
.section-roadmap .roadmap-item dl:hover {
  transform: translateY(-40px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
}
.section-roadmap .roadmap-item dt {
  width: 84px;
  margin: 0 auto 32px auto;
  font-family: Circular-Std;
  font-weight: 700;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.section-roadmap .roadmap-item dd {
  font-family: Circular-Std-Book;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
}

.clover-os {
  margin-top: 155px;
  padding-bottom: 96px;
}
.clover-os .h1 {
  max-width: 750px;
}
.clover-os .co-content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clover-os .co-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clover-os .co-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 500px;
  min-height: 420px;
  padding: 136px 80px 50px 80px;
  margin: 0 12px 20px 12px;
  background: url() center 54px no-repeat;
}
.clover-os .co-item:first-child {
  background-image: url("../image/icon/gear.svg");
}
.clover-os .co-item:last-child {
  background-image: url("../image/icon/coding.svg");
}
.clover-os .co-row-item {
  width: 100%;
  max-width: 1030px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 55px 100px 65px 100px;
}
.clover-os .co-row-item img {
  margin: 0 auto 25px auto;
}
.clover-os dl {
  margin-top: 32px;
}
.clover-os dt {
  font-family: Space-Mono;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 8px;
}
.clover-os dd {
  font-family: Circular-Std-Book;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}
.clover-os .co-row-item-content {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 12px;
}
.clover-os .co-row-item-content dl {
  width: 50%;
}
.clover-os .co-row-item-content dd {
  max-width: 350px;
  margin: 0 auto;
}
.clover-os .co-row-item-content:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #1d2d31;
  opacity: 0.2;
}

.kernel-container {
  padding-bottom: 80px;
}
.kernel-container .h1 {
  max-width: 770px;
  margin-bottom: 56px;
}
.kernel-container .ko-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.kernel-container .ko-container .ko-item {
  max-width: 500px;
  min-height: 400px;
  padding: 126px 90px 0 90px;
  margin: 12px;
}
.kernel-container .ko-container .ko-item:nth-child(1) {
  background: url("../image/icon/rose.svg") center 48px no-repeat, linear-gradient(180deg, rgba(32, 34, 37, 0.04) 0%, rgba(32, 34, 37, 0.01) 100%);
}
.kernel-container .ko-container .ko-item:nth-child(2) {
  background: url("../image/icon/tulp.svg") center 48px no-repeat, linear-gradient(180deg, rgba(72, 251, 165, 0.5) 0%, rgba(72, 251, 165, 0) 100%);
}
.kernel-container .ko-container .ko-item:nth-child(3) {
  background: url("../image/icon/skura.svg") center 48px no-repeat, linear-gradient(180deg, rgba(72, 251, 165, 0.5) 0%, rgba(72, 251, 165, 0) 100%);
}
.kernel-container .ko-container .ko-item:nth-child(4) {
  background: url("../image/icon/orchid.svg") center 48px no-repeat, linear-gradient(180deg, rgba(32, 34, 37, 0.04) 0%, rgba(32, 34, 37, 0.01) 100%);
}
.kernel-container .ko-container dt {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  margin-bottom: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.kernel-container .ko-container dt em {
  font-family: Circular-Std;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.kernel-container .ko-container dt span {
  font-family: Circular-Std-Book;
  opacity: 0.4;
}
.kernel-container .ko-container dd {
  font-family: IBM-Plex-Mono;
  font-size: 15px;
  line-height: 141.2%;
}

.team-intro {
  padding-top: 150px;
  padding-bottom: 100px;
}
.team-intro .team-intro-description {
  display: flex;
  flex-direction: column;
}
.team-intro em {
  max-width: 870px;
  margin-bottom: 50px;
}
.team-intro h1 {
  max-width: 700px;
  position: relative;
  padding-bottom: 170px;
  margin: 0 auto;
}
.team-intro h1:after {
  content: " ";
  width: 1px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}
.team-intro h3 {
  max-width: 100%;
}
.team-intro .leadership {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-intro .leadership dl {
  max-width: 600px;
  margin: 12px;
  padding: 50px 50px 40px 50px;
}
.team-intro .leadership dt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}
.team-intro .leadership dt img {
  margin-bottom: 34px;
}
.team-intro .leadership dt em {
  font-family: Inter;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
}
.team-intro .leadership dt a {
  font-family: Circular-Std-Book;
  text-decoration: underline;
}
.team-intro .leadership dl:nth-child(1),
.team-intro .leadership dl:nth-child(4),
.team-intro .leadership dl:nth-child(5) {
  background: linear-gradient(180deg, rgba(32, 34, 37, 0.05) 0%, rgba(32, 34, 37, 0.01) 100%);
}
.team-intro .leadership dl:nth-child(2),
.team-intro .leadership dl:nth-child(3),
.team-intro .leadership dl:nth-child(6) {
  background: linear-gradient(180deg, rgba(72, 251, 165, 0.5) 0%, rgba(72, 251, 165, 0) 100%);
}
.team-intro .leadership dd {
  margin-top: 20px;
  font-family: Circular-Std-Book;
  opacity: 0.4;
}
.team-intro .advisory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-intro .advisory dl {
  padding-top: 28px;
  width: 290px;
  height: 260px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}
.team-intro .advisory dd {
  text-transform: uppercase;
  font-family: Inter;
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
}

.join {
  padding-bottom: 60px;
}
.join h2 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 30px;
  max-width: 770px;
}
.join h3 {
  margin-top: 0;
  margin-bottom: 56px;
}
.join .position {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.join .position a {
  font-family: Inter;
  text-align: left;
  padding-left: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  line-height: 24px;
  width: 40%;
  max-width: 608px;
  min-height: 100px;
  margin: 0 12px 40px 12px;
  background: url("../image/icon/right-dark.svg") right 48px center no-repeat;
}
.join .morePosition {
  font-family: Circular-Std;
  width: 208px;
  height: 54px;
  border: 1px solid #000;
  text-transform: uppercase;
  line-height: 54px;
}

.footer {
  font-family: Circular-Std-Book;
  padding: 32px 0 11px 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
.footer .copy {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.4;
}
.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 62px;
}

@media only screen and (max-width: 1360px) {
  .cursorNormal,
.cursorHover {
    display: none;
  }

  .head {
    padding: 0 20px;
  }
  .head img {
    max-width: 133px;
    width: 133px;
    height: 40px;
  }

  .container {
    max-width: 100%;
  }

  .content {
    border-width: 1px 0;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .clv .clv-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../image/clv/clv-small.svg");
    background-position: bottom center;
    padding-bottom: 200px;
  }
  .clv .clv-content li {
    position: relative;
    width: 250px !important;
    padding-bottom: 56px;
    margin-left: 0 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: auto !important;
  }
  .clv .clv-content li:after {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1d2d31;
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin-left: -4px;
  }
  .clv .clv-content li:last-child:after {
    display: none;
  }

  .section-roadmap .roadmap {
    padding: 0;
  }

  .clover-os .co-row-item {
    padding: 55px 0 65px 0;
  }
}
@media only screen and (max-width: 980px) {
  .side-bar {
    display: block;
  }

  .nav {
    display: none;
  }

  .head {
    height: 72px;
    padding: 0 24px;
  }

  .h1 {
    font-size: 40px;
    line-height: 52px;
  }

  h2 {
    font-size: 15px;
    line-height: 141%;
  }

  .section-what {
    padding-bottom: 112px;
  }
  .section-what .h1 {
    margin-top: 108px;
  }
  .section-what .button {
    margin-top: 48px;
  }

  .section-vision {
    padding-bottom: 64px;
  }
  .section-vision ul {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .section-vision ul li {
    margin-top: 48px !important;
  }
  .section-vision ul li:nth-child(1) {
    padding-top: 210px;
  }
  .section-vision ul li:nth-child(2),
.section-vision ul li:nth-child(3) {
    padding-top: 180px;
  }

  .platform {
    padding-bottom: 40px;
  }
  .platform h2 {
    margin-top: 16px;
  }
  .platform .platform-content {
    margin-top: 42px;
  }
  .platform .platform-content dl.platform-item {
    margin: 12px 0;
    padding: 112px 22px 40px 22px;
  }

  .os-product {
    padding-bottom: 40px;
  }
  .os-product .op-content {
    margin-top: 32px;
  }
  .os-product .op-content dl {
    margin: 0 0 20px 0;
    width: auto;
  }
  .os-product .op-content dd {
    padding: 0 20px;
  }

  .clv {
    padding-bottom: 80px;
  }
  .clv .clv-content {
    margin-top: 56px;
  }

  .ecosystem {
    padding-top: 0;
  }
  .ecosystem .ecosystem-content li {
    width: 140px;
    height: 70px;
    margin: 12px;
  }

  .section-roadmap .control {
    width: 100%;
  }

  .clover-os {
    margin-top: 82px;
  }
  .clover-os .co-content {
    margin-top: 0;
  }
  .clover-os h3 {
    margin-bottom: 30px;
  }
  .clover-os .co-item {
    margin: 0 0 20px 0;
  }

  .kernel-container .ko-container .ko-item {
    margin: 12px 0;
  }

  .team-intro {
    padding-top: 110px;
  }
  .team-intro .h1 {
    margin-bottom: 35px;
    padding-bottom: 100px;
  }
  .team-intro .leadership dl {
    margin: 12px 0;
  }
}
@media only screen and (max-width: 800px) {
  .cursor {
    display: none;
  }

  body {
    background-size: 1000px;
  }

  .clover-os .co-row-item-content {
    flex-direction: column;
  }
  .clover-os .co-row-item-content dl {
    width: 100%;
  }
  .clover-os .co-row-item-content:after {
    display: none;
  }

  .join .position {
    width: 100%;
  }
  .join .position a {
    padding: 20px 100px 20px 44px;
    margin: 0 0 20px 0;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */