:root.scroll-page {
  --background: #edf5ea;
}

:root {
  --background: transparent;
}

@font-face {
  font-family: Circular-Std;
  font-style: normal;
  src: url("../font/CircularStd-Bold.ttf");
}
@font-face {
  font-family: Circular-Std-Book;
  font-style: normal;
  src: url("../font/CircularStd-Book.otf");
}
@font-face {
  font-family: Space-Mono;
  font-style: normal;
  src: url("../font/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: IBM-Plex-Mono;
  font-style: normal;
  src: url("../font/IBMPlexMono-Regular.ttf");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  src: url("../font/Inter-ExtraBold.otf");
}
body {
  color: #1d2d31;
  font-family: Circular-Std;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #edf5ea;
  position: relative;
}

*::-moz-selection {
  color: #48fba5;
  background-color: #1d2d31;
}

*::selection {
  color: #48fba5;
  background-color: #1d2d31;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h3 {
  font-family: Inter;
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  color: #000;
  margin: 80px auto 40px auto;
  max-width: 280px;
}

h4 {
  font-family: Inter;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.button {
  font-family: Circular-Std;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid #000;
  width: 190px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 62px;
  background: url("../image/icon/download.svg") 24px center no-repeat;
}

.button:hover {
  opacity: 0.6;
  border-color: rgba(0, 0, 0, 0.6);
}

.h1 {
  text-align: center;
  font-family: Circular-Std;
  font-weight: bold;
  font-size: 72px;
  line-height: 92px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.head {
  font-family: IBM-Plex-Mono;
  width: 100%;
  top: 0;
  left: 0;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  position: fixed;
  z-index: 9;
  padding: 0 60px 0 90px;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.nav li {
  line-height: 88px;
  margin-left: 90px;
  opacity: 1;
  border-bottom: 1px solid transparent;
}

.side-bar {
  width: 32px;
  height: 16px;
  background: url("../image/menu/menu.svg") 0 0 no-repeat;
  cursor: pointer;
  display: none;
}

.side-screen {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #edf5ea;
  background-size: 1000px;
  display: none;
}
.side-screen .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.side-screen .logo-text {
  background: url("../image/clover/new-logo.svg") 0 0 no-repeat;
  width: 133px;
  height: 40px;
}
.side-screen .close {
  background: url("../image/menu/close.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.side-screen .side-nav {
  font-family: Circular-Std;
  padding-top: 120px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1d2d31;
}
.side-screen .side-nav li {
  margin-bottom: 64px;
  width: 100%;
  text-align: center;
}
.side-screen .social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-screen .social li {
  margin: 0 20px;
}
.side-screen .copy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 70px;
  line-height: 70px;
  color: #1d2d31;
  opacity: 0.4;
}

.social li {
  opacity: 0.2;
}
.social li:hover {
  opacity: 1;
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
}

.ecosystem {
  padding-top: 220px;
  padding-bottom: 140px;
  background: url("../image/background/background-ecosystem.svg") center top no-repeat;
}
.ecosystem .ecosystem-content {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.ecosystem .ecosystem-content li {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin: 0 25px 38px 25px;
}
.ecosystem .ecosystem-content li:hover {
  transform: translateY(-40px);
  transition-timing-function: linear;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
}
.ecosystem .ecosystem-content a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  font-family: Circular-Std-Book;
  padding: 32px 0 11px 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
.footer .copy {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.4;
}
.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 62px;
}

@media only screen and (max-width: 1980px) {
  .logo {
    width: 133px;
    height: 40px;
  }

  .container {
    max-width: 100%;
  }

  .content {
    border-width: 1px 0;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 980px) {
  .side-bar {
    display: block;
  }

  .nav {
    display: none;
  }

  .head {
    height: 72px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .h1 {
    font-size: 40px;
    line-height: 52px;
  }

  h2 {
    font-size: 15px;
    line-height: 141%;
  }

  .ecosystem {
    padding-top: 0;
  }
  .ecosystem .ecosystem-content li {
    width: 140px;
    height: 70px;
    margin: 12px;
  }
}/*# sourceMappingURL=styles.css.map */