@import 'styles/variables';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: 15px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid $color-hover;
  transition: color 0.15s ease-in-out, fill 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}

.icon {
  margin: 0 0 0 15px;
}

@media (max-width: $media-sm) {
  .btn {
    padding: 0 15px;
    height: 40px;
  }
}
