@import 'styles/variables';

.wrapper {
  width: 100%;
  position: relative;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -63%);
  //   width: 100%;
  //   height: 100%;
  //   background-image: url("../../public/images/feature-bg.png");
  //   background-repeat: no-repeat;
  //   background-size: 130% 100%;
  //   background-position: center;
  // }
}

.line {
  width: 100%;
  position: absolute;
  top: -42px;
  left: 0;
  transform: translateY(-50%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.85s opacity, 0.85s visibility;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.topWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.topVector1 {
  position: absolute;
  bottom: -85px;
  width: 100%;
}
.topVector2 {
  position: absolute;
  bottom: -110px;
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: white;
  justify-content: center !important;
  z-index: 1;
  & > span {
    display: block;
    text-align: center;
    line-height: 69px;
    font-size: 52px;
    color: var(--color-background);
  }
}

.typing {
  width: 100%;
  min-height: 138px;
  color: var(--color-accent);
  line-height: 60px;
  font-size: 54px;

  @media (max-width: $media-md) {
    line-height: 54px;
    font-size: 48px;
  }

  @media (max-width: $media-sm) {
    line-height: 30px;
    font-size: 30px;
  }
}

.topContent {
  max-width: 1230px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 90px;

  & > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--feature-background);
  }

  @media (max-width: $media-md) {
    width: 100%;
    padding: 0 21px;
    padding-top: 90px;
  }

  @media (max-width: $media-sm) {
    width: 100%;
    padding: 0 12px;
    padding-top: 48px;
  }
}

.topContentItem {
  position: relative;
  width: 384px;
  height: 384px;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-align: left;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  margin-bottom: 24px;
  padding: 30px;
  cursor: pointer;

  h3 {
    font-family: Gilroy-SemiBold;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 36px;
    width: 100%;
    text-align: left;
    color: var(--color-background);
    z-index: 2;

    @media (max-width: $media-md) {
      margin-bottom: 24px;
    }

    @media (max-width: $media-sm) {
      margin-bottom: 23px;
    }
  }

  p {
    font-size: 15px;
    line-height: 24px;
    font-family: Gilroy-Medium;
    color: var(--color-background);
    z-index: 2;
  }

  a,
  span {
    display: inline-block;
    margin-top: 24px;
    color: var(--color-accent);
    border-bottom: 1px solid var(--color-accent);
    cursor: pointer;
    font-weight: bold;
  }

  button {
    height: 56px;
    width: 264px;
    color: #053c4b;
    background: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 40px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
  }

  img {
    position: absolute;
    width: 85%;
    margin-top: 20px;
    z-index: 1;
  }

  &.hovered {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.12),
        rgba(255, 255, 255, 0.12)
      ),
      #151e26;

    .itemBack {
      opacity: 0.4;
    }
  }

  &.hoveredSakura {
    background: white !important;
  }

  .bar {
    background: var(--color-accent);
    width: 48px;
    height: 3px;
    margin-top: 30px;

    @media (max-width: $media-md) {
      margin-top: 24px;
    }

    @media (max-width: $media-sm) {
      margin-top: 23px;
    }
  }

  @media (max-width: $media-md) {
    margin: 0;
    margin-bottom: 18px;
    width: 49%;
    flex-wrap: nowrap !important;

    h3 {
      font-size: 21px;
      line-height: 24px;
    }

    button {
      position: relative;
      margin-top: 30px;
    }

    p {
      max-height: 60%;
      overflow: auto;
    }
  }

  @media (max-width: $media-sm) {
    animation: none;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 24px);
    height: 100%;
    margin-top: 20px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      ),
      #151e26;

    h3 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    p {
      line-height: 25px;
    }

    p,
    button {
      font-size: 14px;
    }
  }
}

.itemBack {
  width: auto;
  height: 185px;
  margin-top: 0 !important;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center !important;
}

.featureContent {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 150px;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (max-width: $media-md) {
    padding-top: 120px;

    > div {
      flex-wrap: wrap;
    }
  }

  @media (max-width: $media-sm) {
    padding-top: 90px;
  }
}

.featureWrapper {
  width: 100%;
  position: relative;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   transform: translateY(-49%);
  //   z-index: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: url('../../public/images/feature-bottom-bg.png') no-repeat;
  //   background-size: 120% 30%;
  //   background-position: center 100%;
  // }
}
.bottomWrapper {
  background: linear-gradient(98.6deg, #27a577 0.21%, #0080b9 100%),
    linear-gradient(0deg, #27a577, #27a577),
    linear-gradient(210.66deg, #02764c 22.56%, #4ef3b7 81.39%);
  background-size: cover;
  width: 100%;
}

.black {
  color: #ffffff !important;
}

.clvToken {
  margin: 0 auto;
  padding: 70px 0;
  max-width: 950px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clvTokenIcon {
  width: 88px;
  height: 88px;
  margin-bottom: 25px;
}

.clvTokenTitle {
  font-weight: bold;
  font-size: 44px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}

.clvTokenList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clvTokenItem {
  width: 250px;
  height: 230px;
  //border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(2),
  &:nth-child(4) {
    width: 300px;
  }

  div {
    margin-top: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    font-family: Roboto, sans-serif;
    color: #ffffff;
  }
}

@media (max-width: $media-lg) {
  .wrapper {
    // overflow: hidden;
  }

  .topContent,
  .clvToken {
  }

  .title {
    & > span {
      width: 100%;
      display: block;
      text-align: center;
      //line-height: 46px;
      //font-size: 40px;
    }
  }
}

@media (min-width: $media-md), (max-width: $media-lg) {
  .title {
    font-size: 52px;
  }
}

@media (max-width: $media-sm) {
  .title {
    font-size: 30px;
    & > span {
      line-height: 63px;
      font-size: 30px;
    }
  }

  .topContent {
    width: initial;
    flex-direction: row;
    height: 400px;
    padding: 0;
    overflow: auto;
  }
}
