@import 'styles/variables';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  padding-top: 120px;
  height: 864px !important;

  a {
    margin-top: 30px;

    @media (max-width: $media-sm) {
      margin-top: 0;
    }
  }

  @media (min-width: $media-xl) {
    padding-top: calc(185 * 100vw / 1440 - 66px);
  }

  @media (max-width: $media-md) {
    height: 900px !important;
    padding-top: 172px;
  }

  @media (max-width: $media-sm) {
    height: 621px;
    padding-top: calc(157 * 100vw / 360 - 45px);
  }
}
.height3 {
  @media (max-width: $media-sm) {
    height: 790px !important;
  }
}

.height2 {
  @media (max-width: $media-sm) {
    height: 970px !important;
  }
}

.height1 {
  @media (max-width: $media-sm) {
    height: 1130px !important;
  }
}

.height0 {
  @media (max-width: $media-sm) {
    height: 1290px !important;
  }
}

.arrowDown {
  display: none;

  @media (max-width: $media-sm) {
    display: block !important;
    position: absolute;
    top: 34px;
    right: 30px;
    bottom: initial;
    transform: rotate(0);
    transition: transform 0.3s ease-out;

    &.mini {
      transform: rotate(180deg);
    }
  }
}

.forground {
  position: absolute;
  top: 0;
  width: 100%;

  img {
    width: 100%;
    height: 864px;
    object-fit: cover;
    object-position: top;

    @media (max-width: $media-md) {
      height: 900px;
    }

    @media (max-width: $media-sm) {
      height: 621px;
    }
  }
}

.centerLogo {
  padding: 30px;
  background: var(--color-background);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.15);
  border-radius: 36px;
  z-index: 1;
  width: 132px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    width: 72px;
    height: 72px;
  }

  @media (max-width: $media-sm) {
    border-radius: 24px;
    padding: 20px;
    width: 90px;
    height: 90px;

    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.centerLogoSakura {
  padding: 15px;
}

.textOuter {
}

.animation {
  display: flex;
  align-items: center;

  @media (max-width: $media-md) {
    width: 160%;
  }
}

.textInner {
  padding: 0 40px;
  font-size: 26px;
  font-family: Gilroy-SemiBold, serif;
  text-align: center;
  position: relative;
  letter-spacing: -2px;
  color: var(--color-text);
  margin-top: 30px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.85s opacity, 0.85s visibility;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.btn {
  position: relative;
}

.resources {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: translateY(-120px);

  &::before {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    background-color: var(--color-second-background);

    @media (max-width: $media-sm) {
      height: 50px;
      top: 50px;
      bottom: initial;
    }
  }

  &::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    background-color: var(--color-light-grey);
    z-index: -1;

    @media (max-width: $media-sm) {
      height: 50px;
    }
  }

  @media (min-width: $media-xl) {
    & {
      // padding-top: calc(208 * 100vw / 1440 - 66px);
      transform: translateY(-120px);
    }
  }

  @media (max-width: $media-md) {
    & {
      transform: translateY(-25%);
    }
  }

  @media (max-width: $media-sm) {
    flex-direction: column;
    transform: translateY(-12%);
    width: calc(100% - 24px);
    margin: auto;
  }
}

.card {
  position: relative;
  background: var(--color-background);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.15);
  border-radius: 36px;
  height: 240px;
  width: 384px;
  margin: 0 12px;
  padding: 30px;
  text-align: left;

  h1 {
    font-family: Gilroy-SemiBold;
    font-size: 26px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 24px;

    @media (max-width: $media-lg) {
      & {
        font-size: 21px;
        line-height: 30px;
      }
    }
  }

  svg {
    position: absolute;
    bottom: 30px;
    right: 30px;

    @media (max-width: $media-lg) {
      & {
        display: none;
      }
    }

    // @media (min-width: $media-sm) {
    //   path {
    //     fill: var(--color-accent);
    //     stroke: var(--color-accent);
    //   }
    // }
  }

  @media (max-width: $media-md) {
    transition: height 0.3s ease-out;
    width: 100%;
    padding: 24px;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 30px;
  }

  @media (max-width: $media-sm) {
    transition: height 0.3s ease-out;
    width: 100%;
    padding: 24px;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 24px;

    &.mini {
      height: 78px;
    }
  }
}

.cardList {
  p {
    color: $color-light;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
    cursor: pointer;

    @media (max-width: $media-lg) {
      & {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

@media (min-width: $media-md), (max-width: $media-lg) {
  .textInner {
    font-size: 70px;
    line-height: 70px;
  }
}

@media (min-width: $media-lg) {
  .title {
    font-size: 44px;
    margin-bottom: -50px;
    line-height: 1.1;
  }

  .textOuter {
    max-width: 800px;
  }

  .textInner {
    font-size: 80px;
    line-height: 80px;
    &.green {
      font-size: 40px;
    }
  }
}

@media (max-width: $media-sm) {
  .textInner {
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    margin: 24px 0;
  }
}
