@import 'styles/variables';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background: url('/images/sky.jpg') no-repeat center/cover;
  padding-top: 140px;
  height: 100vh;
  justify-content: center;
  @media (min-width: $media-lg) {
    & {
      padding-top: 72px
    }
  }
}

.textOuter {
}

.animation {
  display: flex;
  align-items: center;
}

.textInner {
  padding: 0 40px;
  font-size: 26px;
  font-family: Alata, serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  top: 50px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.85s opacity, 0.85s visibility;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.btn {
  position: relative;
  top: -50px;
}

@media (min-width: $media-lg) {
  .title {
    font-size: 44px;
    margin-bottom: -50px;
    line-height: 1.1;
  }

  .btn {
    top: -110px;
  }

  .textOuter {
    max-width: 777px;
  }

  .textInner {
    font-size: 42px;
    line-height: 50px;
    &.green {
      font-size: 40px;
    }
  }
}

@media (max-width: $media-sm), (max-width: $media-xs), (max-width: $media-md), (max-width: $media-lg) {
  .wrapper {
    height: calc(100vh - 72px);
    padding-top: 10px;

  }
  .textInner {
    top: 20px;
  }
  .animation {
    padding: 40px 0;
  }
  .btn {
    top: -20px;
  }
}
