@import "styles/variables";

.wrapper {
  width: 1225px;
  margin: 95px auto;

  h3 {
    font-weight: bold;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #000000;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;

  & > div {
    width: 90%;
    overflow: hidden;

    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: transform 0.3s ease-in-out;
    }
  }

  img {
    margin: 0 20px;
    user-select: none;
  }
}

.arrowLeft {
  margin-right: 50px;
  cursor: pointer;
}

.arrowRight {
  margin-left: 50px;
  cursor: pointer;
}
