@import "styles/variables";

.wrapper {
  width: 100%;
  height: 376px;
  background-image: url("../../public/images/backers-bg.png");
  background-position: left bottom;
  background-size: 100% 100%;

  h3 {
    font-weight: bold;
    font-size: 52px;
    text-align: center;
    color: #000000;
    margin-top: 120px;
  }
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.arrowRight {
  margin-right: 50px;
  cursor: pointer;
  position: absolute;
  top: -55px;
  left: calc(100vw - 80px)!important;
}

.arrowLeft {
  margin-left: 50px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 80px;
}

.image {
  margin: 0 20px;
  user-select: none;
}
@media (max-width: $media-xl), (min-width: $media-md) {
  .wrapper {
    //width: 80%;
    overflow: hidden;
  }

  .container {
    padding: 0 20px;
  }

  .content {
    position: relative;
    & > * {
      width: 100%
    }
  }
}

.sliderContentWrapper {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 100px;
}

@media (max-width: $media-xs), (max-width: $media-sm) {
  .wrapper {
    h3 {
      font-size: 26px;
    }
  }
}

@media (min-width: $media-lg) {
  .arrowRight {
    left: calc(100vw - 170px)!important;
  }
}

@media (min-width: 1400px) {
  .arrowRight {
    left: calc(100vw - 370px)!important;
  }
}

