@import 'styles/variables';

.wrapper {
  margin: 80px auto 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 930px;
}

.container {
  width: 100%;
  max-width: 790px;
  text-align: center;
}

.title {
  font-weight: $fw-bold;
  font-size: 26px;
  line-height: 1.25;
  text-align: center;
}

.subtitle {
  min-height: 135px;

  span {
    font-weight: $fw-normal;
  }
}

.accent {
  color: var(--color-accent);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.85s opacity, 0.85s visibility;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@media (min-width: $media-sm) {
  .subtitle {
    min-height: 90px;
  }
}

@media (min-width: $media-lg) {
  .title {
    font-size: 36px;
  }

  .accent {
    display: block;
    font-size: 56px;
  }
}
