@import 'styles/variables';

.wrapper {
  padding: 120px 20px;
  width: 100%;
  position: relative;

  // &::before {
  //   content: url('../../public/images/blog-bg.png');
  //   position: absolute;
  //   bottom: 0;
  //   left: -19px;
  //   z-index: 0;
  // }

  // &::after {
  //   content: url('../../public/images/blog-bg.png');
  //   position: absolute;
  //   top: 0;
  //   right: -19px;
  //   z-index: 0;
  // }

  @media (max-width: $media-md) {
    margin-top: 120px;
    padding: 0 21px;
  }

  @media (max-width: $media-sm) {
    margin-top: 90px;
    padding-left: 12px;
    padding-right: 0;
  }
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.title {
  font-family: Gilroy-SemiBold;
  font-weight: 400;
  font-size: 54px !important;
  line-height: 60px;
  text-align: center;
  color: var(--color-background);
  letter-spacing: -2px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 48px;
  flex-wrap: nowrap !important;
  overflow: auto;

  @media (max-width: $media-md) {
    margin-top: 36px;
    flex-wrap: nowrap !important;
  }

  @media (max-width: $media-sm) {
    margin-top: 36px;
    flex-wrap: nowrap !important;
    overflow: auto;
  }
}

.item {
  margin: 20px 0 0 0;
  width: 100%;
  z-index: 1;
  min-width: 282px;

  @media (max-width: $media-sm) {
    margin-top: 0;
    margin-right: 12px;
    min-width: 282px;
  }

  @media (max-width: $media-md) {
    margin-top: 0;
    margin-right: 12px;
    min-width: 282px;
  }
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  height: 100%;
}

.image {
  width: 100%;
  min-height: 150px;

  img {
    max-width: 100%;
    min-height: 150px;
    border-radius: 18px;
    width: auto;
    height: auto;
  }
}

.text {
  flex: 1 0 auto;
  padding: 24px 0 0 0;
  line-height: 25px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 30px;
  color: $color-light;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.85s opacity, 0.85s visibility;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@media (min-width: $media-md) {
  .item {
    width: 50%;
    padding: 15px;
    margin-top: 0;
  }

  .link {
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

    &:hover {
      color: $color-text;
      transform: translateY(-5px);
    }
  }
}

@media (min-width: $media-lg) {
  .title {
    font-size: 56px;
  }

  .item {
    width: calc(100% / 3);
    padding: 15px;
    margin-top: 0;
  }
}

@media (min-width: $media-xl) {
  .item {
    width: 25%;
  }
}

@media (max-width: $media-xs), (max-width: $media-sm) {
  .title {
    font-size: 26px !important;
  }
}
