@import 'styles/variables';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;

  @media (max-width: $media-sm) {
    margin-top: 90px;
  }

  @media (max-width: $media-md) {
    margin-top: 120px;
  }
}

.header {
  text-align: center;
  margin-bottom: 48px;
  font-family: Gilroy-SemiBold;
  font-size: 54px;
  line-height: 60px;
  color: var(--color-background);
}

.logos {
  max-width: 1230px;
  width: 100%;
  overflow: hidden;

  @media (max-width: $media-sm) {
    overflow: auto;
  }

  @media (max-width: $media-md) {
    overflow: auto;
  }
}

.logosContent {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;

  @media (max-width: $media-md) {
    width: 1460px;
    padding: 0 15px;
    justify-content: flex-start;
  }

  @media (max-width: $media-sm) {
    width: 1460px;
    padding: 0 12px;
  }
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 100px;
  float: left;
  margin: 9px 6px;

  &::before {
    content: '';
    position: absolute;
    border-radius: 18px;
    background: var(--btn-secondary-background);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &:hover {
    cursor: pointer;
    &::before {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  img {
    max-height: 60px;
    z-index: 10;
  }

  @media (max-width: $media-md) {
    height: 100px;
  }

  @media (max-width: $media-sm) {
    width: 45%;
    max-width: 192px;
  }
}

@media (max-width: $media-xs), (max-width: $media-sm) {
  .root {
    padding: 30px 0;
  }
  .header {
    font-size: 26px !important;
    margin-bottom: 0;
  }
}
