@import 'styles/variables';

.social {
  width: 100%;
  max-width: 235px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  svg,
  path {
    fill: var(--color-accent);

    &:hover {
      fill: var(--color-accent-light);
    }
  }
}
