@import 'styles/variables';

.social {
  width: 100%;
  max-width: 235px;

}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  fill: rgba($color-white, .2);

  &:hover {
    fill: $color-text;
  }
}
