@import 'styles/variables';

.wrapper {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.item {
  display: flex;
  align-items: flex-start;
  text-align: left;
  &:not(:last-child) {
    padding-bottom: 58px;
  }
}

.index {
  color: $color-logo;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-right: 25px;
}
.index,
.title {
  line-height: 32px;
}

.title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 10px;
}
.desc {
  font-family: Roboto, sans-serif;
  max-width: 432px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #a0bfc7;
}

.launch {
  position: relative;
  margin-right: 223px;
  .launchPic {
    width: 80vw;
    max-width: 370px;
    position: relative;
  }
  .ball {
    width: 325px;
    height: 325px;
    position: absolute;
    z-index: 0;
    &.left {
      top: 77px;
      right: 0;
      transform: translateX(40%);
    }
    &.right {
      left: 0;
      transform: translateX(-40%);
      bottom: 75px;
    }
  }

  .download {
    border: none;
    background-color: $color-logo;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 8px;
    border-radius: 22px;
    width: 136px;
    height: 44px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -80%);
    cursor: pointer;
  }
  .iconArrow {
    margin-right: 14px;
  }
}

@media (max-width: $media-lg) {
  .wrapper {
    padding-top: 40px;
    flex-direction: column;
    .launch {
      margin-bottom: 100px;
      margin-right: 0;
    }
  }
  .itemList {
    padding: 0 10px;
  }
}
