@import 'styles/variables';

.wrapper {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  position: relative;
  z-index: 99;
}

.item {
  display: flex;
  align-items: flex-start;
  text-align: left;
  &:not(:last-child) {
    padding-bottom: 58px;
  }
}

.index {
  color: $color-logo;
  //font-family: Alata;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  margin-right: 25px;
}
.index,
.title {
  line-height: 32px;
}

.title {
  font-family: Alata;
  font-size: 26px;
  margin-bottom: 28px;
}
.desc {
  font-family: Roboto, sans-serif;
  max-width: 432px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #a0bfc7;
}

.launch {
  position: relative;
  margin-right: 223px;
  .launchPic {
    width: 80vw;
    max-width: 318px;
    position: relative;
  }
  .ball {
    width: 325px;
    height: 325px;
    position: absolute;
    z-index: 0;
    &.left {
      top: 77px;
      right: 0;
      transform: translateX(40%);
    }
    &.right {
      left: 0;
      transform: translateX(-40%);
      bottom: 75px;
    }
  }

  .download {
    border: none;
    background-color: $color-logo;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 8px;
    border-radius: 22px;
    width: 136px;
    height: 44px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -80%);
    cursor: pointer;
  }
  .iconArrow {
    margin-right: 14px;
  }
}

.textOuter {
  margin-top: 20px;
  max-width: 777px;
  text-align: center;
}
.textInner {
  text-align: center;
  font-size: 52px;
  line-height: 63px;
  padding: 0 40px;
  &.green {
    font-size: 52px;
    color: #6fcf97;
  }
}

@media (max-width: $media-lg) {
  .wrapper {
    padding-top: 40px;
    flex-direction: column;
    .launch {
      margin-bottom: 100px;
      margin-right: 0;
    }
  }
  .itemList {
    padding: 0 10px;
  }
}

@media (max-width: $media-sm) {
  .wrapper {
    padding-bottom: 50px;
  }

  .textInner {
    font-size: 26px;
    line-height: 35px;
    &.green {
      font-size: 26px;
      line-height: 35px;
      color: #6fcf97;
    }
  }

  .title, .index {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .desc {
    font-size: 14px;
  }

  .item {
    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }
}



@media (min-width: $media-sm), (max-width: $media-md) {
  .textOuter {
    max-width: 777px;
  }
  .launch {
    margin-right: 100px;
  }
}

@media (min-width: $media-xl) {
  .launch {
    margin-right: 223px !important;
  }
}
