@import 'styles/variables';

.item {
  display: flex;
  align-items: flex-start;
  text-align: left;
  max-width: 384px;
  margin: 0 12px;

  &:not(:last-child) {
    padding-bottom: 58px;
  }
}

.index {
  color: $color-logo;
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 30px;
  margin-right: 12px;
}
.index,
.title {
  line-height: 32px;
}

.title {
  font-family: Gilroy-Medium;
  font-size: 18px;
  margin-bottom: 12px;
}
.desc {
  font-family: Gilroy-Medium, sans-serif;
  max-width: 432px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: $color-light;
}

.launch {
  position: relative;
  width: 100%;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(76, 191, 122, 0.4) 0%,
    rgba(76, 191, 122, 0) 100%
  );

  img {
    width: 100%;
    height: auto;
    max-width: 888px;
  }

  .itemList {
    display: flex;
    flex-wrap: wrap;
  }
}

.textOuter {
  margin-top: 200px;
  max-width: 777px;
  text-align: center;

  @media (max-width: $media-lg) {
    margin-top: 0;
    max-width: 700px !important;
  }
}
.textInner {
  text-align: center;
  font-size: 54px;
  line-height: 60px;
  padding: 0 40px;

  .green {
    font-size: 52px;
    color: #6fcf97;
  }

  @media (max-width: $media-lg) {
    font-size: 48px;
    line-height: 54px;
  }
}

.btn_secondary {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: $color-accent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

@media (max-width: $media-lg) {
  .launch {
    margin-right: 0;
  }
  .itemList {
    padding: 0 10px;
  }
}

@media (max-width: $media-sm) {
  .textInner {
    font-size: 26px;
    line-height: 35px;
    &.green {
      font-size: 26px;
      line-height: 35px;
      color: #6fcf97;
    }
  }

  .title,
  .index {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .desc {
    font-size: 14px;
  }

  .item {
    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }
}

@media (min-width: $media-sm), (max-width: $media-md) {
  .textOuter {
    max-width: 777px;
  }
}

@media (min-width: $media-xl) {
}
