@import url('https://fonts.googleapis.com/css?family=Gilroy&display=swap');
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Alata';
  src: url('/fonts/Alata-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Black'),
    url('/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Black.otf') format('opentype'),
    url('/fonts/CircularStd-Black.ttf') format('truetype'),
    url('/fonts/CircularStd-Black.woff') format('woff'),
    url('/fonts/CircularStd-Black.svg') format('svg');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Bold'),
    url('/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Bold.otf') format('opentype'),
    url('/fonts/CircularStd-Bold.ttf') format('truetype'),
    url('/fonts/CircularStd-Bold.woff') format('woff'),
    url('/fonts/CircularStd-Bold.svg') format('svg');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Medium'),
    url('/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Medium.otf') format('opentype'),
    url('/fonts/CircularStd-Medium.ttf') format('truetype'),
    url('/fonts/CircularStd-Medium.woff') format('woff'),
    url('/fonts/CircularStd-Medium.svg') format('svg');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Book'),
    url('/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CircularStd-Book.ttf') format('truetype'),
    url('/fonts/CircularStd-Book.woff') format('woff'),
    url('/fonts/CircularStd-Book.svg') format('svg');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: local('IBMPlexMono-Medium'),
    url('/fonts/IBMPlexMono-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IBMPlexMono-Medium.otf') format('opentype'),
    url('/fonts/IBMPlexMono-Medium.ttf') format('truetype'),
    url('/fonts/IBMPlexMono-Medium.woff') format('woff'),
    url('/fonts/IBMPlexMono-Medium.svg') format('svg');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Black';
  src: local('Gilroy-Black'), url('/fonts/Gilroy-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local('Gilroy-ExtraBold'),
    url('/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url('/fonts/Gilroy-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'),
    url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'),
    url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: local('Gilroy-SemiBold'),
    url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: local('Gilroy-Thin'), url('/fonts/Gilroy-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy-UltraLight';
  src: local('Gilroy-UltraLight'),
    url('/fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

.font-Optima {
  font-family: Optima;
}

.font-Alata {
  font-family: Alata;
}

.font-Roboto {
  font-family: Roboto;
}
