@import 'variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;

  img {
    border: 0;
    vertical-align: middle;
  }

  :focus {
    outline: none;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }
}

.main {
  padding: 72px 20px 15px 20px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $container-width;
  width: 100%;
}

@media (min-width: $media-lg) {
  .main {
    padding-top: 0;
    padding-bottom: 130px;
  }
}
