@import "variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;

  img {
    border: 0;
    vertical-align: middle;
  }

  :focus {
    outline: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

.main {
  padding: 72px 0 0 0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom {
  width: 100%;
  background: url('../public/svg/clover_features_bg.png') no-repeat;
  background-size: cover;
}

@media (min-width: $media-lg) {
  .main {
    padding-top: 0;
    // padding-bottom: 130px;
  }
}
