@import 'variables';

.nav {
  position: absolute;
  z-index: $zindex-dropdown;
  top: 72px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFF;
  color: inherit;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  height: calc(100vh - 72px);
}

.navActive {
  opacity: 1;
  visibility: visible;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-height: 500px;
}

.item {
  font-size: 18px;
  line-height: 1.35;
  font-weight: $fw-black;
  text-align: center;
  text-transform: uppercase;
}

.link {
  color: $color-link;

  &:hover {
    color: $color-text;
  }
}

.footer {
  width: 100%;
  padding: 25px 50px 30px 50px;
  border-top: 1px solid rgba(0, 0, 0, .2);
  color: $color-light;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}

@media (min-width: $media-lg) {
  .nav {
    position: relative;
    top: auto;
    height: auto;
    flex: 1 0 auto;
    opacity: 1;
    visibility: visible;
  }

  .container {
    align-items: flex-end;
  }

  .list {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
    max-width: 420px;
  }

  .item {
    font-size: 14px;
    line-height: 1.3;
    font-weight: $fw-normal;
    text-transform: none;
  }

  .link {
    color: $color-text;

    &:hover {
      color: $color-link;
    }
  }

  .social,
  .footer {
    display: none;
  }
}
