@import 'variables';

.wrapper {
  margin: 80px 0 0 0;
  width: 100%;
  max-width: 1220px;
}

.title {
  font-weight: $fw-bold;
  font-size: 40px;
  line-height: 1.25;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  margin: 20px 0 0 0;
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  padding: 40px 20px 40px 30px;
  border: 1px solid rgba(0,0,0,.2);
}

.text {
  font-family: 'IBMPlexMono', sans-serif;
  font-weight: $fw-medium;
  font-size: 15px;
  line-height: 1.4;
}

.image {
  margin: 30px 0 0 0;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #E8E8E9;
}

@media (min-width: $media-md) {
  .list {
    margin-top: 30px;
  }

  .item {
    width: 50%;
    padding: 15px;
    margin-top: 0;
  }
}

@media (min-width: $media-lg) {
  .wrapper {
    margin-top: 120px;
  }

  .title {
    font-size: 72px;
  }

  .list {
    margin-top: 50px;
  }

  .item {
    width: calc(100% / 3);
    padding: 15px;
    margin-top: 0;
  }
}

@media (min-width: $media-xl) {
  .item {
    width: 25%;
  }
}
