@import 'variables';

.team {
  padding: 50px 0;
  font-family: Optima;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
}

.people {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.peopleSingle {
  margin-bottom: 30px;
}

.avatar {
  margin-bottom: 32px;
}
.name {
  font-family: Optima;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
}
.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

@media (min-width: $media-lg) {
  .people {
    flex-direction: row;
  }
}
