@import 'styles/variables';

.wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 30px;
  background: url('/images/line2.jpg') no-repeat left bottom/100% auto;
}

.line {
  width: 100%;
  position: absolute;
  top: -42px;
  left: 0;
  transform: translateY(-50%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.85s opacity, 0.85s visibility;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.topWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.topVector1 {
  position: absolute;
  bottom: -85px;
  width: 100%;
}
.topVector2 {
  position: absolute;
  bottom: -110px;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
}

.title {
  font-family: Alata;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  margin-bottom: 65px;
  color: $color-title;
}

.topContent {
  width: 1168px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.contentBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

.topContentItem {
  max-width: 474px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 28px;
    font-family: Alata;
  }

  p {
    font-size: 18px;
    line-height: 25px;
    color: rgba(#fff, 0.8);
    font-weight: 300;
    font-family: Roboto, sans-serif;
    margin-bottom: 30px;
  }

  button {
    border: 2px solid #41f69f;
    border-radius: 8px;
    line-height: 50px;
    font-family: Roboto;
    font-weight: 500;
  }

  &:last-child {
    button {
      border: 2px solid #0080b9;
    }
  }
}

.featureContent {
  max-width: 1168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 96px 0 50px;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.featureWrapper {
  width: 100%;
  // background-color: #121c24;
  // background: url('../../public/svg/clover_features_bg.png') no-repeat;
  // background-size: cover;
}
.bottomWrapper {
  background: linear-gradient(98.6deg, #27a577 0.21%, #0080b9 100%),
    linear-gradient(0deg, #27a577, #27a577),
    linear-gradient(210.66deg, #02764c 22.56%, #4ef3b7 81.39%);
  background-size: cover;
  width: 100%;
}

.black {
  color: #000 !important;
}

.gray {
  color: #1d2d31 !important;
}

.clvToken {
  margin: 0 auto;
  padding: 70px 0;
  max-width: 950px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clvTokenIcon {
  width: 88px;
  height: 88px;
  margin-bottom: 25px;
}

.clvTokenTitle {
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}

.clvTokenList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clvTokenItem {
  width: 250px;
  height: 230px;
  //border: 1px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(2),
  &:nth-child(4) {
    width: 300px;
  }

  div {
    margin-top: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    font-family: Roboto, sans-serif;
    color: #ffffff;
  }
}

@media (min-width: $media-md) {
  .wrapper {
    padding-bottom: 140px;
  }
  .topContentItem {
    height: 332px;
  }
}

@media (max-width: $media-xl), (min-width: $media-lg) {
  .topContent,
  .featureContent,
  .clvToken {
    width: 80%;
  }
}

@media (max-width: $media-xl) {
  .contentBox {
    justify-content: center;
  }
}
@media (max-width: $media-xs), (max-width: $media-sm) {
  .title {
    font-size: 27px;
    margin-bottom: 0;
  }

  .topContentItem {
    h3 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    p, button {
      font-size: 14px;
    }
  }
}

